<div id="ToolbarContainer">
  <a for="Toolbar" class="h-button btn btn-info" data-toggle="collapse" href="#Toolbar" aria-expanded="true" aria-controls="Toolbar">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <div id="Toolbar" class="row collapse in">
      <div class="col-sm-1">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="margin-top:25%;">
          <span class="shape fa fa-bars" title="Click for actions">&nbsp;Menu</span>
        </button>
        <ul class="dropdown-menu">

          <li><p>SHARE</p></li>

        <li class="divider"></li>
          <li>
            <span></span>
            <span class="shape fa fa-facebook fa-2x" title="Share a picture on Facebook" onclick=""></span>
            <span class="shape fa fa-twitter fa-2x" title="Share a picture on Twitter" onclick=""></span>
            <span class="shape fa fa-pinterest fa-2x" title="Share a picture on Pinterest" onclick=""></span>
            <span class="shape fa fa-instagram fa-2x" title="Share a picture on Instagram" onclick=""></span>
          </li>
          <li class="divider"></li>

          <li><p>GO-TO</p></li>

          <li class="divider"></li>
          <li>
            <a class="shape fa fa-user" href="profile"
               title="Change your settings. See your saved 3Scapes.">
              Your Profile
            </a>
          </li>
          <li>
            <a class="shape fa fa-laptop" href="http://blog.3scape.me"
               title="Our latest updates, tips and tricks.">
              3Scape Blog
            </a>
          </li>
          <li class="divider"></li>

          <li><p>3SCAPE ACTIONS</p></li>

          <li class="divider"></li>
          <li>
            <a class="shape fa fa-arrows-alt" href="javascript:"
               title="Hide toolbars and extras. Hit ESC or click the exit button to exit full screen.">
              Full Screen
            </a>
          </li>
          <li>
            <a class="shape fa fa-plus" href="javascript:new3Scape();"
               title="Create a new 3Scape. This one will automatically be saved.">
              New 3Scape
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" id="loadScene">
              Load Saved 3Scape
            </a>
          </li>
          <li class="divider"></li>
          <a class="shape fa fa-plus" href="javascript:loadTerrain();"
             title="Load a terrain model">
            Load Terrain
          </a>
        </ul>
      </div>
      <div class="tool-button icon-cube col-sm-1" onclick="loadModel('Cube.xml');" title="Cube"></div>
      <div class="tool-button icon-pyramid col-sm-1" onclick="loadModel('Pyramid.xml');" title="Pyramid"></div>
      <div class="tool-button icon-sphere col-sm-1" onclick="loadModel('Sphere.xml');" title="Sphere"></div>
      <div class="tool-button icon-tube col-sm-1" onclick="loadModel('Tube.xml');" title="Tube"></div>
      <div class="tool-button icon-gear col-sm-1" onclick="loadModel('Gear.xml');" title="Gear"></div>
      <div class="tool-button icon-beam col-sm-1" onclick="loadModel('Beam.xml');" title="Beam"></div>
      <div class="tool-button icon-wall col-sm-1" onclick="loadModel('Wall.xml');" title="Wall"></div>
      <div class="tool-button icon-ring col-sm-1" onclick="loadModel('Ring.xml');" title="Ring"></div>
      <div class="tool-button icon-elbow col-sm-1" onclick="loadModel('Elbow.xml');" title="Elbow"></div>
      <div class="tool-button icon-wedge col-sm-1" onclick="loadModel('Wedge.xml');" title="Wedge"></div>
      <div class="tool-button icon-plank col-sm-1" onclick="loadModel('Plank.xml');" title="Plank"></div>
  </div>
</div>
