<div id="ZoomControls">
  <span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:4em" title="Zoom In"></span>
  <span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:4em" title="Zoom Out"></span>
</div>
