<!doctype html>
<html>
<head>
  <title>3Scape: Not Found</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body 		{ padding-top:80px; word-wrap:break-word; }
  </style>
</head>
<body>
<div class="container">

  <div class="page-header text-center">
    <h1>This is not the page for which you are looking.</h1>
    <a href="/" class="btn btn-default btn-sm">To 3Scape</a>
    <a href="/signup" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

  </div>

</div>

</body>
</html>
