<!doctype html>
<html>
<head>
  <title>3Scape: 404 Not Found</title>
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/snappy.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <meta name=viewport content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <center>
            <img src="images/404.png" width="300px" height="300px">
            <br/>
            <h2> Oops... well this is awkward.</h2>
            <h4>We're sorry, it seems the page you</h4>
            <h4>were looking for doesn't exist!</h4>
            <h4>Perhaps you would like to visit these locations instead.</h4>
            <a href="/" class="btn btn-default btn-sm">Go 3Scape</a>
            <a href="/profile" class="btn btn-default btn-sm">View Profile</a>
            <a href="http://eepurl.com/45Zz9" class="btn btn-default btn-sm">Join Newsletter</a>
            <a href="http://blog.3Scape.me" class="btn btn-default btn-sm">Read Blog</a>
        </center>
    </div>
  </div>
</body>
</html>
