<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>3Scape</title>
    <meta name="description" content="3Scape engages students through amazing content that you can create and edit as easy as you can copy and paste.">

    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body style="background-color: #eee">
	<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="Navbar">
          <div class="container-fluid">
              <div class="navbar-header">

                  <a class="navbar-brand" href="/" target="_blank"><div style="height:45px; margin-top:-12px;"><img src="images/logo-3S.png" style="max-width:100%; max-height:100%;"></div></a>
              </div>

          </div>
      </div>
    <div class="row">
		<div class="jumbotron text-center">
			<h1>3Scape for the Classroom</h1>

      <h3>3Scape engages students through amazing content that you can create and edit as easy as you can copy and paste.</h3>

      <h2>Try these demos</h2>
      <h3><a href="/egypt">Ancient Egypt</a></h3>
      <h3><a href="/two-stroke">Two Stroke Engine</a></h3>
      <h3><a href="/entymology">Anatomy of an Insect</a></h3>
		</div>
	</div>
</body>
</html>
