<html ng-app="3ScapeMain">
  <head>
    <title>3Scape</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="google-site-verification" content="HshVtf6HnSfl2YCmfMSpPEkQJT4lwYlxWt1x5XSbjoo" />
    <meta name="globalsign-domain-verification" content="0N60TGhkkTPLK6Kecx2W5DbZ8UKdDDPtT-xB1AdoqH" />
    <meta name="description" content="a place to make and share interactive 3D on the web">
    <meta name="p:domain_verify" content="71238727c011f9da9c7b9445f91d4d7b"/>

    <!-- Bridgeworks-->
    <script src="./js/BwHelper.js"></script>
    <script type="text/javascript" src="./js/Bridgeworks-min.js"></script>
    <script type="text/javascript" src="./js/conway.js"></script>

    <!-- jquery stuff -->
    <!-- Install and use local files - KMC -->
    <link type="text/css" rel="stylesheet" href="css/jquery-ui.css"/>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.qtip.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.qtip.css"/>
    <script src="js/nicEdit.js"></script>

    <!-- jsColor Color Picker -->
    <script type="text/javascript" src="jscolor/jscolor.js"></script>

    <!-- WebHostingHub Glyphs -->
    <link rel="stylesheet" type="text/css" media="all" href="css/whhg.css" />
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- Styles made by 3Scape team -->
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <!-- application scripts -->
    <script type="text/javascript" src="./js/crossbrowser.js"></script>
    <script type="text/javascript" src="./js/editor.js"></script>
    <script type="text/javascript" src="./js/controls.js"></script>
    <script type="text/javascript" src="./js/MapControls.js"></script>
    <script type="text/javascript" src="./js/BinaryDecode.js"></script>
    <script type="text/javascript" src="./js/labels.js"></script>
    <script type="text/javascript" src="./js/objectmode.js"></script>
    <script type="text/javascript" src="./js/eventHandlers.js"></script>
    <script type="text/javascript" src="./js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="./js/slidemode.js"></script>
    <script type="text/javascript" src="./js/FileSaver.js"></script>
    <script type="text/javascript" src="./js/uservoice.js"></script>
    <script type="text/javascript" src="./js/facebook.js"></script>
    <script type="text/javascript" src="./js/google.js"></script>
    <style id="holderjs-style" type="text/css"></style>
    <meta property="og:image" content="http://3Scape.me/logo-3S.png"/>
    <meta property="og:description" content="Make and share interactive 3D. If you can imagine it you can 3Scape it." />
  </head>
  <body onresize="resize();">
    <div id="fb-root"></div><!-- FB Javascript SDK -->

      <script type="text/javascript">
          //A group of global variables
          var bridgeworks = null;
          var cube ="objects/Cube.lwo";
          var sphere = "objects/Sphere.lwo";
          var tube = "objects/Tube.lwo";
          var Spin = "motions/spin-y.mot";
          var Diss = "motions/oscillate-dissolve.mot";
          var Scal = "motions/oscillate-scale.mot";
          var fly = "motions/fly-loop.mot";
          var wall = "objects/Wall.lwo";
          var beam = "objects/Beam.lwo";
          var Ring = "objects/Ring.lwo";
          var Pyramid = "objects/Pyramid.lwo";
          var pumpkin = "objects/Halloween_Pumpkin.lwo";
          var skull = "objects/Halloween_Skull.lwo";
          var witch_hat = "objects/Halloween_Witch Hat.lwo";
          var c2v = "Vehicles/objects/C2V.lwo";
          var cow = "Animals/objects/Cow.lwo";
          var church = "Barnville/objects/Church.lwo";
          var medHV = "Vehicles/objects/Humvee_Medical.lwo";
          var boat = "Vehicles/objects/Fishing Boat.lwo";
          var currentObj = "";
          var editorOpen = 0;
          var elapsedTime = 0;
          var CameraMotion = "CameraMotion";
          var zoomUpdate;
          var distance;
          var camStartPos;

          var selectedThing;
          var selectedId;
          var edit = 0;
          var selectedText;
          var nicText;
          var textBoxMade = 0;


          //========================================================================

          var capture = false;


          window.onbeforeunload = function(){
            return "Alpha Alert: 3Scape does not yet save for you. Click 'Stay on this page' if you need to save your work.";
          };


          //Mock Up of How Search would work
          function Search()
          {
              var Search = $( "#Search" ).val();
              var cmd = "\<Locate target='" + Search + "'/>";
              bridgeworks.updateScene(cmd);
              console.debug(cmd);
          }

          function saveThis(info,name)
          {
              var blob = new Blob([info], {type: "text/xml"});

              saveAs(blob, name+".xmp");
          }

          function saveScene()
          {
              serializedScene = "";

              var command = "\<Serialize target='Root'/>";
              bridgeworks.updateScene(command);

              // serializedScene is a global shared by Bridgeworks!
              // Need to fix this.
              // BwJS should probably use standard Elements - KMC
              saveThis(serializedScene,"Scene");

          }

          $(function() {
            $( "#slide-list" ).sortable();
            $( "#slide-list" ).disableSelection();
          });

      </script>

      <!-- Fork ribbon -->
      <!-- <div class="github-fork-ribbon-wrapper left-bottom">
          <div class="github-fork-ribbon">
              <a href="https://github.com/kmcurry/3scape" target="_blank">Fork me on GitHub</a>
          </div>
      </div> -->
<div id="ajax-modal" class="modal hide fade in" tabindex="-1" aria-hidden="false" style="display: block; margin-top: -128.5px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
      <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1"><p>This modal was loaded in via ajax</p></div>
      <div class="tab-pane" id="tab2"><p>This is some other tab content</p></div>
    </div>
    <button class="btn update">Update</button>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>
      <div class="modal fade" id="myModal">
          <div class="modal-dialog" style="width: 900px">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">List of Objects</h4>
                  </div>
                  <!--Loading all the Libs and putting them in their respective places-->
                  <div class="modal-body row">
                    <ul class="nav nav-tabs" id="tabContent">
                      <li class="active"><a href="#objects1" data-toggle="tab">Misc</a></li>
                      <li><a href="#objects2" data-toggle="tab">Scenery</a></li>
                      <li><a href="#objects3" data-toggle="tab">Vehicles</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="objects1">
                        <div class="col-md-2" id="panel-lib-shapeObjects">
                          <H3>Shapes</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-animalObjects">
                          <H3>Animals</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-anatomyObjects">
                          <H3>Anatomy</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-peopleObjects">
                          <H3>People</H3>
                        </div>
                      </div>
                      <div class="tab-pane" id="objects2">
                        <div class="col-md-2" id="panel-lib-buildingObjects">
                            <H3>Buildings</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-egyptObjects">
                            <H3>Egypt</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-geoObjects">
                            <H3>Geography</H3>
                        </div>
                      </div>
                      <div class="tab-pane" id="objects3">
                        <div class="col-md-2" id="panel-lib-robotObjects">
                          <H3>Robots</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-landVehicleObjects">
                            <H3>Land</H3>
                        </div>
                        <div class="col-md-2" id="panel-lib-airVehicleObjects">
                            <H3>Air</H3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <div class="modal fade" id="helpModal">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <!--Loading all the Libs and putting them in their respective places-->
                <!-- TODO: MOVE THIS AND USE {{...}} TEMPLATE - KMC -->
                <div class="modal-body row">
                    <ul class="nav nav-tabs" id="tabContent">
                        <li class="active"><a href="#helpIntro" data-toggle="tab">Intro</a></li>
                        <li><a href="#helpControls" data-toggle="tab">Controls</a></li>
                        <li><a href="#helpGuide" data-toggle="tab">Guide</a></li>
                        <li><a href="#aboutTeam" data-toggle="tab">About</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="helpIntro">
                            Welcome to 3Scape! 3Scape is a web site where anyone who can point,
                            click, copy and paste can make and share interactive,
                            3D scapes online. http://3scape.me/
                        </div>
                        <div class="tab-pane" id="helpControls">
                          <div class="row">
                            <div class="col-md-4">
                                <H3>Main</H3>
                                <div class="controlBullet">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                    - Object In/Out
                                </div>
                                <div class="controlBullet">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    - Object Left/Right
                                </div>
                                <div class="controlBullet">
                                    <span class="shape icon-pushalt"></span>
                                    <span class="shape icon-pullalt"></span>
                                    - Object Up/Down
                                </div>
                            </div>
                            <div class="col-md-4">
                                <H3>Camera Mode</H3>
                                <div class="controlBullet">
                                    <img src="./images/left-click.png"> Rotate
                                </div>
                                <div class="controlBullet">
                                    <img src="./images/right-click.png"> Zoom
                                </div>
                                <div class="controlBullet">
                                    <img src="./images/both-click.png"> Pan
                                </div>
                            </div>
                            <div class="col-md-4">
                                <H3>Object Mode</H3>
                                <div class="controlBullet">
                                    <img src="./images/left-click.png"> Rotate
                                </div>
                                <div class="controlBullet">
                                    <img src="./images/right-click.png"> Pull/Push
                                </div>
                                <div class="controlBullet">
                                    <img src="./images/both-click.png"> Slide/Lift
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <H3>"Walk"</H3>
                              <div class="controlBullet">
                                  S - Left
                              </div>
                              <div class="controlBullet">
                                  F - Right
                              </div>
                              <div class="controlBullet">
                                  D - Forward
                              </div>
                              <div class="controlBullet">
                                  E - Backward
                              </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="helpGuide">
                            <h3>
                                Basics:
                            </h3>
                            <p>First click on the object pane <img src="./images/objModal.jpg"> with a bunch of shapes to quickly get models on the scene</p>
                            <p>For more models hit the down facing arrow and take your pick (protip: Cows are the best)</p>
                            <p>Let's liven up the cow and add some color. Hit the paint brush to use the color picker </p>
                        </div>
                        <div class = "tab-pane" id="aboutTeam">
                           <center><h3>Made by the 3Scape team!</h3></center>
                           <br>
                           <p><a href="https://github.com/kmcurry"> Kevin Curry</a>: Creator of 3Scape/Sensei at Mr. Miyagi School of Software Engineering</p>
                           <p><a href="https://github.com/mbrazell"> Michael Brazell</a>: Senior Developer/Wizard</p>
                           <p><a href="https://github.com/Hyiero"> Brandon Ripley</a>: Junior Developer/Head Cheerleader/Muscle Man</p>
                           <p><a href="https://github.com/jonsmall"> Jon Small</a>: Junior Developer/Sage of the Front End</p>
                           <p><a href="https://github.com/TerabyteTyler"> Tyler McLean</a>: Junior Developer/Software Engineering Padawan</p>
                        </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="modal fade" id="motionsModal">
          <div class="modal-dialog" style="width: 900px">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">List of Animations</h4>
                  </div>
                  <!--Loading all the Libs and putting them in their respective places-->
                  <div class="modal-body row">
                      <div class="col-md-8" id="panel-motions">
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <button id="sidebar-button" type="button" class="btn btn-default navbar-btn btn-danger closed" title="Toggle Sidebar"><span class="glyphicon glyphicon-chevron-right"></span></button>
      <script>
        $("#sidebar-button").click(function(){
          $("#container").css("display", "");
          $("#side-nav").collapse('toggle');
          if ($(this).hasClass("closed")) {
            $(this).removeClass("closed").addClass("opened");
            $('#sidebar-button span').removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-left");
            //clear notification color
            if($(this).hasClass("btn-info")){
              $(this).removeClass("btn-info").addClass("btn-danger");
            }
          }else {
            $(this).removeClass("opened").addClass("closed");
            $('#sidebar-button span').removeClass("glyphicon-chevron-left").addClass("glyphicon-chevron-right");
          }
        });

      </script>

      <!-- Navigation Header -->
      <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="Navbar" ng-controller="headerController">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://3scape.me" target="_blank"><div style="height:45px; margin-top:-12px;"><img src="./images/logo-3S.png" style="max-width:100%; max-height:100%;"></div>alpha</a>

          </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li>
                        <a href="http://eepurl.com/45Zz9" target="top">Newsletter</a>
                      </li>
                      <li>
                        <a href="http://blog.3Scape.me" target="top">Blog</a>
                      </li>

                      <!-- As wide in px as the longest object name to avoid displacement bug. More elegant solution? -->
                      <li><p class="navbar-text" id="Current_Object" style="font-size:15px"></p></li>

                    <li>
                      <div class="btn-group navbar-btn" style="margin-left:10px;">
                        <div class="btn btn-default btnShape">
                          <span class="shape fa fa-cube fa-lg" title="Cube" onclick="load(cube);"></span>
                          <span class="shape fa fa-circle fa-lg" title="Sphere" onclick="load(sphere);"></span>
                          <span class="shape fa fa-circle-thin fa-lg" title="Ring" onclick="load(Ring);"></span>
                          <span class="shape fa fa fa-eject fa-lg" title="Pyramid" onclick="load(Pyramid);"></span>
                          <span class="shape fa fa fa-database fa-lg" title="Tube" onclick="load(tube);"></span>
                        </div>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="shape glyphicon glyphicon-chevron-down" style="font-size:1.4em;" title="More"></span></button>
                        <ul class="dropdown-menu">
                          <li style="margin-left: 8px">
                            <span class="shape fa fa-square fa-2x" title="Wall" onclick="load(wall);"></span>
                            <span class="shape fa fa fa-italic fa-2x" title="Beam" onclick="load(beam);"></span>
                            <span class="shape icon-cow" title="Cow" style="font-size:1.8em;" onclick="load(cow);"></span>
                            <span class="shape icon-church" style="font-size: 1.8em;" title="Church" onclick="load(church);"></span>
                            <span class="shape fa fa fa-ambulance fa-2x" title="Med HumV" onclick="load(medHV);"></span>
                          </li>
                          <li style="margin-left: 8px">
                            <span class="shape icon-boat" style="font-size: 1.8em;" title="Boat" onclick="load(boat);"></span>
                            <span class="shape icon-skull" style="font-size: 1.8em;" title="Pumpkin" onclick="load(pumpkin);"></span>
                            <span class="shape icon-skull" style="font-size: 1.8em;" title="Skull" onclick="load(skull);"></span>
                            <span class="shape icon-skull" style="font-size: 1.8em;" title="Witch Hat" onclick="load(witch_hat);"></span>
                          </li>
                          <li class="divider"></li>
                          <li><a href="#" data-toggle="modal" data-target="#myModal">Browse Objects...</a></li>
                          <li class="divider"></li>
                          <li><a href="javascript:new3Scape();">New 3Scape</a></li>
                          <li class="divider"></li>
                          <!--Loading the slides in the line below this, have to give how many slides you want loaded-->
                          <li><a href="#" id="loadScene">Load Saved 3Scape</a></li>

                          <li class="divider"></li>
                          <li><a href="javascript:loadEgypt();">Ancient Egypt</a></li>
                          <li><a href="javascript:loadEntymology();">Entymology</a></li>
                          <li><a href="javascript:loadTwoStroke();">2-Stroke Engine</a></li>
                          <li><a href="javascript:load2D3D();">2D vs. 3D</a></li>
                          <li><a href="javascript:loadLights();">Light</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                        <div class="btn-group dropdown keep-open" style="margin-left:3px;">
                          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Set Color">
                            <span class="shape icon-paintroll"></span>
                          </button>
                          <ul class="dropdown-menu color-dropdown" role="menu">

                            <input class="color {onImmediateChange:'updateInfo(this);'}" id="myColor" value="FFFFFF" onchange="applyColor();" style="margin-left: 2px;">
                            <input id="info-r" size="2" type="hidden"/>
                            <input id="info-g" size="2" type="hidden"/>
                            <input id="info-b" size="2" type="hidden"/>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div class="btn-group dropdown">
                          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Add Label"onclick="if(selectedThing){openLabelEdit();}">
                            <span class="shape fa fa-font" style="font-size:1.4em;"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#" onclick="createLabel();">Label</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="createBalloon();">Balloon Tip Label</a></li>
                          </ul>
                        </div>
                      </li>

                      <li>
                        <button type="button" class="btn btn-default navbar-btn" id="navCut" role="button" onclick="cut();" >
                              <span class="shape fa fa-scissors fa-lg" style="font-size:2em" title="Cut"></span>
                        </button>
                      </li>
                      <!--Where I put the load a scene button-->
                      <input type="file" id="files" accept=".xmp" style="display:none"/>

                      <script>
                          //Loads the file dialog when the loadScene hyperlink is clicked
                          $('#loadScene').click(function(scene){
                            $('#files').click(); //This is commented out, this is from loading from a file

                          });

                          document.getElementById('files').addEventListener('change', handleFileSelect, false);
                      </script>
                      <li>
                        <button type="button" class="btn btn-default navbar-btn" id="navCopy" role="button" onclick="copy();" >
                              <span class="shape fa fa-files-o fa-lg" style="font-size:2em" title="Copy"></span>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-default navbar-btn" id="navPaste" role="button" onclick="paste();" >
                              <span class="shape fa fa-clipboard fa-lg" style="font-size:2em;" title="Paste"></span>
                        </button>
                      </li>
                      <li>
                          <div>
                              <button type="submit" class="btn btn-default navbar-btn" id="saveScene" role="button" >
                              <span class="shape fa fa-floppy-o fa-lg" style="font-size:2em;" title="saveScene"></span>
                              </button>
                          </div>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav" style="margin-left:3px;">

                      <li>
                          <button type="button" class="btn btn-info navbar-btn" id="fbShare" role="button" onclick="postPictureToFacebook();" title="Share Scene on Facebook" style="margin-right:3px;">
                              <span class="fa fa-camera-retro fa-lg" style="font-size:2em;"></span>
                          </button>
                      </li>

                      <li>
                        <button type="button" class="btn btn-purple navbar-btn toggleController" id="navMap" role="button" onclick="toggleMap();" title="Toggle Map Controls" style="margin-right:3px;">
                          <span class="toggleGlyph fa fa-compass fa-lg" style="font-size:2em;"></span>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="btn btn-success navbar-btn" id="navFullscreen" role="button" onclick="preHide();" title="Fullscreen" style="margin-right:3px;">
                          <span class="glyphicon glyphicon-fullscreen" style="font-size:1.4em;"></span>
                        </button>
                      </li>
                      <li>
                        <button style="margin-right:3px;" type="button" class="btn btn-warning navbar-btn" data-toggle="modal" data-target="#helpModal" title="Help">
                          <span class="fa fa-question-circle fa-lg" style="font-size:2em;"></span>
                        </button>
                      </li>
                  </ul>
                  <ul>
                    <li>
                      <div class="fb-like" style="padding-top:2px;padding-left:4px;" data-href="http://3scape.me" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- End headerController scope -->
        <div class="row">
          <div id="container" style="width:260px; display: none;">
              <div id="side-nav" class="width sidebar collapse" style="padding:0; border:0;z-index:1029">
                  <div style="padding:10px; overflow:hidden; width:240px;">
                          <div>
                              <ul class="nav nav-tabs" style="clear:both">
                                <li class="active"><a href="#object-panel" data-toggle="tab">Objects</a></li>
                                <!--<li><a href="#animate-panel" data-toggle="tab">Animate</a></li>-->
                                <li><a href="#slide-panel" data-toggle="tab">Slides</a></li>
                                <li><a href="#conway" data-toggle="tab"><span class="glyphicon glyphicon-heart" style="font-size:1em;" onclick="playConway();"></span></a></li>
                               </ul>
                              <div class="tab-content">
                                  <div class="tab-pane active" id="object-panel">
                                    <!--This is where the objects get loaded into the list-->
                                  </div>
                                  <div class="tab-pane" id="animate-panel">
                                      <ul class="nav">
                                          <!--This is where the animations get loaded into the list-->
                                      </ul>

                                      <ul class="nav">

                                      </ul>
                                  </div>


                                  <div class="tab-pane" id="slide-panel">
                                    <span class="glyphicon glyphicon-play dvd" title="Play" onclick="bridgeworks.renderController.play();"></span>
                                    <span class="glyphicon glyphicon-pause dvd" title="Pause" onclick="bridgeworks.renderController.pause();"></span>
                                    <span class="glyphicon glyphicon-stop dvd" title="Stop" onclick="bridgeworks.renderController.stop();"></span>
                                    <span class="glyphicon glyphicon-arrow-left dvd" title="Previous Slide" onclick="previousSlide();"></span>
                                    <span class="glyphicon glyphicon-arrow-right dvd" title="Next Slide" onclick="nextSlide();"></span>
                                    <ul id="slide-list">
                                      <!--This is where the slides get loaded into the list-->
                                    </ul>
                                  </div>

                                  <div class="tab-pane" id="conway">
                                    <br/><br/>
                                    <!--<button onclick="bridgeworks.renderController.rewind();">RW</button>-->
                                    <button onclick="gol.start(250);">Start</button>
                                    <button onclick="gol.stop();">Stop</button>
                                    <button onclick="gol.tick();">Tick</button>
                                    <br/><br/>
                                    <!--<button onclick="bridgeworks.renderController.fastForward();">FF</button>-->
                                    Width: <input id="width" value="10" style="width:30px"/>
                                    Height: <input id="height" value="10" style="width:30px" />
                                    Depth: <input id="depth" value="10" style="width:30px" />
                                    <br/><br/>
                                    <button onclick="gol.uninit();gol.init(parseInt(document.getElementById('width').value),
                                                                           parseInt(document.getElementById('height').value),
                                                                           parseInt(document.getElementById('depth').value));">Reset</button>

                                    <br/><br/>
                                    <button onclick="addPulsar();">Pulsar</button>
                                    <button onclick="addBlinker();">Blinker</button>
                                    <button onclick="addSpaceship();">Spaceship</button>
                                  </div>
                              </div>
                          </div>
                  </div>
              </div>
          </div>

          <!-- CANVAS IS HERE-->

          <div class="col-sm-12"
          style="height:100%; width:100%; padding:0;padding-right: 0;"
          id="BwContainer"
          ondblclick="handleMouse(event);" onclick="handleMouse(event);"
          onmousedown="handleMouse(event);" onmouseup="handleMouse(event);"
          onmousemove="handleMouse(event);">

                  <!--<img id="BackgroundImage" style="position: absolute; z-index: -1;width:100%;" src="BwContent/images/Sky2.jpg"/>-->
                  <canvas id="Canvas" style="width:100%">
                  </canvas>
          </div>

        </div>

        <input id="rotxs" data-slider-id='rotx-slider' type="text"/>
        <input id="rotys" data-slider-id='roty-slider' type="text"/>
        <input id="rotzs" data-slider-id='rotz-slider' type="text"/>
        <input id="scales" data-slider-id='scale-slider' type="text"/>
        <script type="text/javascript">
          $('#rotxs').slider({
            formater: function(value) {
             return 'Pitch: '+value;
              },
              min: -180,
              max: 180,
              value: 0
            })
             .on("slide", function(ev){
              if(g_selectedModelName != "Grid")
                    setRotationX(ev.value);
             });
          $('#rotys').slider({
            formater: function(value) {
              return 'Yaw: '+value;
            },
            min: -180,
            max: 180,
            value: 0
          })
           .on("slide", function(ev){
             if(g_selectedModelName != "Grid")
                setRotationY(ev.value);
           });
          $('#rotzs').slider({
           formater: function(value) {
           return 'Roll: '+value;
           },
           min: -180,
           max: 180,
           value: 0
          })
          .on("slide", function(ev){
           if(g_selectedModelName != "Grid")
                setRotationZ(ev.value);
            });
          $('#scales').slider({
            formater: function(value) {
              return 'Scale: ' + (value);
            },
            min: 0,
            max: 5000,
            value: 100
          })
          .on('slide', function(ev){
            if(g_selectedModelName != "Grid")
                setScale(ev.value / 100)
          });
        </script>

        <div id="map-controls">
            <div id="Zoom">
              <span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:2em" title="Zoom In"></span>
              <span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:2em" title="Zoom Out"></span>
            </div>
        </div>

        <div id="object-controls">
            <div>
              <span id="object-up" class="shape icon-pushalt" title="Move Object Up" style="font-size: 2em;"></span>
              <span id="object-down" class="shape icon-pullalt" style="font-size:2em" title="Move Object Down"></span>
            </div>
            <div>
              <span id="object-forward" class="shape fa fa-arrow-up" style="font-size:2em" title="Move Object Forward"></span>
              <span id="object-backward" class="shape fa fa-arrow-down" style="font-size:2em" title="Move Object Backward"></span>
            </div>
            <div>
              <span id="object-left" class="shape fa fa-arrow-left" style="font-size:2em" title="Move Object Left"></span>
              <span id="object-right" class="shape fa fa-arrow-right" style="font-size:2em" title="Move Object Right"></span>
            </div>
        </div>

        <div id="toolbar-wrapper" style="text-align:center;">
          <div id="present-toolbar">
            <button class="btn btn-default btnshape"id="Current_Object2" style="font-size:1.4em; color:#6f5499;">Target: X</button>
            <div class="btn-group dropup">
              <button class="btn btn-default btnShape">
                <span class="shape fa fa-cube fa-2x" title="Cube" onclick="load(cube);"></span>
                <span class="shape fa fa-circle fa-2x" title="Sphere" onclick="load(sphere);"></span>
                <span class="shape fa fa-circle-thin fa-2x" title="Ring" onclick="load(Ring);"></span>
                <span class="shape fa fa fa-eject fa-2x" title="Pyramid" onclick="load(Pyramid);"></span>
                <span class="shape fa fa fa-database fa-2x" title="Tube" onclick="load(tube);"></span>
              </button>
              <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="shape glyphicon glyphicon-chevron-up" style="font-size:2em;" title="More"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#myModal">Browse Objects...</a></li>
                <li class="divider"></li>
                <li style="margin-left: 8px">
                  <span class="shape fa fa-square fa-2x" title="Wall" onclick="load(wall);"></span>
                  <span class="shape fa fa fa-italic fa-2x" title="Beam" onclick="load(beam);"></span>
                  <span class="shape icon-cow" title="Cow" style="font-size:1.8em;" onclick="load(cow);"></span>
                  <span class="shape glyphicon glyphicon-tower" style="font-size: 1.8em;" title="Church" onclick="load(church);"></span>
                  <span class="shape fa fa fa-ambulance fa-2x" title="Med HumV" onclick="load(medHV);"></span>
                </li>
              </ul>
            </div>
            <div class="btn-group dropup keep-open" style="margin-left:3px;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Set Color">
                <span class="shape icon-paintroll" style="font-size:1.4em;"></span>
              </button>
              <ul class="dropdown-menu color-dropdown" role="menu">

                <input class="color {onImmediateChange:'updateInfo(this);'}" id="myColor" value="FFFFFF" onchange="applyColor();" style="margin-left: 2px;">
                <input id="info-r" size="2" type="hidden"/>
                <input id="info-g" size="2" type="hidden"/>
                <input id="info-b" size="2" type="hidden"/>
              </ul>
            </div>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Add Label">
                <span class="shape fa fa-font" style="font-size: 2em;"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="createLabel();">Label</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="">Balloon Tip Label</a></li>
              </ul>
            </div>

            <button type="button" class="btn btn-default" id="pCut" role="button">
                  <span class="shape fa fa-scissors fa-2x" style="font-size:2em" title="Cut" onclick="cut();"></span>
            </button>
            <button type="button" class="btn btn-default" id="pCopy" role="button" onclick="copy();">
                  <span class="shape fa fa-files-o fa-2x" style="font-size:2em" title="Copy"></span>
            </button>
            <button type="button" class="btn btn-default" id="pPaste" role="button" onclick="paste();">
                  <span class="shape fa fa-clipboard fa-2x" style="font-size:2em;" title="Paste"></span>
            </button>

            <button type="button" class="btn btn-purple navbar-btn toggleController" id="pMap" role="button" onclick="toggleMap();" title="Toggle Map Controls" style="height:42px;">
              <span class="toggleGlyph fa fa-compass fa-2x"></span>
            </button>
            <button type="button" class="btn btn-success navbar-btn" id="pFullscreen" role="button" onclick="closeFullScreen();" title="Exit Fullscreen">
              <span class="glyphicon glyphicon-resize-small" style="font-size:2em;"></span>
            </button>
            <button type="button" class="btn btn-success navbar-btn" id="pFullscreen" role="button" onclick="playConway();" title="Conway">
              <span class="glyphicon glyphicon-heart" style="font-size:2em;"></span>
            </button>
          </div>
        </div>

      <!-- Progress Bar -->
      <div class="clickable" id="click" style="display:none">
      </div>
      <!-- Progress Bar -->

      <div id="dialog" style="display:none" title="Please enter your description for this item below">
          <form method="post"> <!--id="my-form" enctype="multipart/form-data" -->
              <textarea name="title" id="title" style="width:100%"></textarea>
              <!-- <input type="text" id="title">-->
              <p><input id="submitLabel" type="submit" value="Submit"></p>
          </form>
      </div>

    <div id="example" title="Caption this Scene for Facebook">
        <span style ="float: left; margin:0 7px 50px 0; width:550px; height:200px;"><img id="picCaption"></span>
        <textarea name="fbCaption" id="fbCaption" style="width:100%" value="3Scaping: "></textarea>
        <p><input id="submitCaption" type="submit" value="Submit"></p>
    </div>

    <!--<video controls="controls" src="http://localhost/bwjs/BwContent/images/quake.mpg">
    Your browser does not support the video tag.
    </video>-->

      <script>
          //Progress Bar ===========================================================
          var bar = new progress_bar(document.getElementById('click'));

          //=======================================================================



          function closeFullScreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
          };
          // Cross-browser fullscreen check

          $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange msfullscreenchange', function (){
            var isFullScreen = document.mozFullScreen || document.webkitIsFullScreen || document.fullscreen || document.msFullscreenElement;
            if(!isFullScreen){
              preUnhide();
            }
          });

          function modalHide(){
                  $('#myModal').modal('hide');
                  $('#motionsModal').modal('hide');
                  $('#helpModal').modal('hide');
          }
          //Progress Bar ========================
          function progress_bar(container){
              var bar = document.createElement('div');
              bar.setAttribute("class",".progress");
              bar.setAttribute("id","progress_bar");

              bar.style.width = '0%';
              bar.style.height = '100%';
              bar.style.background = '#696969';
              container.appendChild(bar);

              this.set_percentage = function(percentage){
                  for(var i = 0; i <= percentage; i++) {
                      bar.style.width = i + "%";
                  }
              }

          }
          //=========================================


          function preHide(){
              // $('#container').hide();
              $('#Navbar').hide();
              // $('#sidebar-button').hide();
              // $('#dialog').hide();
              $('#present-tray').show();
              $('#present-toolbar').show();


              var docElement
              var request;

              docElement = document.documentElement;
              request = docElement.requestFullScreen || docElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT) || docElement.mozRequestFullScreen || docElement.msRequestFullScreen;

              // if(typeof request!="undefined" && request){
              request.call(docElement);
              //  }

              var kfi = bridgeworks.registry.find("CameraMotion");
              //Progress Bar ====================================
              g_interval = window.setInterval(function () {
                  elapsedTime = kfi.time.getValueDirect();
                  elapsedTime = elapsedTime * 1.07;
                  bar.set_percentage(elapsedTime);
                  //console.log(elapsedTime);
              }, 50);
          }
          $('.clickable').bind('click', function (ev) {
              console.log("Click");
              var $div = $(ev.target);
              // var $display = $div.find('.display');

              var offset = $div.offset();
              var x = ev.clientX - offset.left;

              newbar = document.getElementById('progress_bar');

              newbar.style.width = (x/11.18) + "%";

              elapsedTime = (x/11.9);

              var cmd = "\<Set target='"+CameraMotion+"' time='"+elapsedTime+"'/>";
              var cmd2 = "\<Play/>";
              console.log(cmd);
              bridgeworks.updateScene(cmd);
              bridgeworks.updateScene(cmd2);

          });

          function preUnhide(){
              $('#Navbar').show();
              $('#sidebar-button').show();
              $('#present-tray').hide();
              $('#present-toolbar').hide();
              $('#click').hide();

              window.clearInterval(g_interval);
          }
      </script>

        <script>
        //Getting sidebar tabs to work again. Not sure why they broke//
        $(function(){
            $('.nav-tabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        </script>
        <script type="text/javascript">
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                //This is changing the background of the slides navbar to active and non active to give it the selected effect.
                if (!window.WebGLRenderingContext) {
                    // browser supports WebGL
                    document.location.href = "http://get.webgl.org/";
                } else {
                  bridgeworks = init("grid-100.xml", document.getElementById("BwContainer"), true);

                  g_sceneInspector = bridgeworks.registry.find("SceneInspector");
                  g_objectInspector =bridgeworks.registry.find("ObjectInspector");
                  var graphMgr = bridgeworks.registry.find("GraphMgr");
                  g_labelCount = graphMgr.labelIndex;



                  // this loads a named 3Scape passed in with the URL
                  // ex., http://3Scape.me/egypt
                  <% if (typeof scape != 'undefined') { %>
                    loadScape(<%- scape %>);
                  <% } %>

                  //cubify();



                  document.getElementById('saveScene').onclick = function(){
                      saveScene();
                  };

                  listLibrary();
                }

                $('html').bind('keypress', function(e)
                {
                   if(e.keyCode == 13)
                   {
                       if($("#example").dialog("isOpen")===true){
                           $('#submitCaption').click();
                       }
                       if ($("#dialog").dialog( "isOpen" )===true && edit == 0) {
                           addLabel();
                           console.log("Not editting");
                       }
                       else if($("#dialog").dialog( "isOpen")===true && edit ==1){

                           editLabel(selectedThing);
                       }
                       else if($("#dialog").dialog( "isOpen")===true && edit ==2)
                       {
                           addBalloon();
                       }
                       return false;
                   }
                });

                $("#submitLabel").click(function(){
                    if(edit == 0)
                    {
                        addLabel();
                    }
                    else if(edit==1)
                    {
                        editLabel(selectedThing);
                    }
                    else if(edit==2)
                    {
                        addBalloon();
                    }
                });

                $('#submitCaption').click(function(){
                    message = $( "#fbCaption" ).val();
                    console.log(message);
                    $("#fbCaption").val('');
                    FB.login(function (response) {
                        if (response.authResponse) {
                            var authToken = response.authResponse.accessToken;
                            PostImageToFacebook(authToken, 'img.png', 'image/png', imgeData, "3Scaping: "+message);
                        }
                    },{scope: "publish_actions"});
                    $("#example").dialog("close");
                });

                $( "#example").dialog({
                    autoOpen: false,
                    modal: true,
                    width: "575px"
                });

                $( "#dialog" ).dialog({
                    autoOpen: false,
                    modal: true
                });

                $( "#dialog" ).dialog({ show: { effect: "blind", duration: 200 } });

                $( "#dialog" ).dialog({ hide: { effect: "blind", duration: 200 } });

                $( "#dialog").dialog({open: function(event,ui) {
                    if(textBoxMade == 0) {
                        textBoxMade = 1;
                        nicText = new nicEditor({
                            iconsPath: 'nicEditorIcons.gif'
                        }).panelInstance('title');
                    }
                }
                });

                $( "#dialog" ).dialog({
                  close: function( event, ui ) {
                      if (adding) {
                          // if in the middle of adding and closed w/o submitting
                          var s = g_labelCount.toString();
                          bridgeworks.updateScene("\<Remove target='" + "Group_L-" + s + "'/>");
                          var cmd = "\<Remove target='"+g_labelName+"'/>";
                          bridgeworks.updateScene(cmd);
                      }
                      adding = false;
                      editorOpen = 0;
                  }
                });

                $(".btn-slide").click(function(){
                    $("#ControlPanel").slideToggle("medium");
                    $(this).toggleClass("active"); return false;
                  });

                window.onkeydown = handleKey;


                $('.ui-spinner-button').click(function() { $(this).siblings('input').change(); });


            }
        }
          $('#map-controls').mouseenter(function(){
            var sceneActive = g_sceneInspector.enabled.getValueDirect();
            if(!sceneActive){
              g_sceneInspector.enabled.setValueDirect(true);
            }
          }).mouseleave(function(){
            var objectActive = g_objectInspector.enabled.getValueDirect();
            if(objectActive){
              g_sceneInspector.enabled.setValueDirect(false);
            }
          })

          //Helper method to create button-hold functions. Pass element id, desired function (leave out parentheses), and time between repeats in miliseconds.
          var onHoldFunction = function(id, method, time) {
            $(id).on({
              mousedown : function () {
                method(); // Still works on a single click
                g_interval = window.setInterval(function(){
                  method();
                }, time); //Repeats every (time) miliseconds
              },
              mouseup : function () {
                window.clearInterval(g_interval);
              }
            });
          };
          //Map
          onHoldFunction('#rotate-counter', rotateNegY, 20);
          onHoldFunction('#rotate-clockwise', rotatePosY, 20);
          onHoldFunction('#tilt-up', tiltUp, 20);
          onHoldFunction('#tilt-down', tiltDown, 20);
          onHoldFunction('#zoom-in', zoomIn, 20);
          onHoldFunction('#zoom-out', zoomOut, 20);

          //Object, uses Anonymous function to pass parameter to callback
          onHoldFunction('#object-up', function(){objectUp(.5);}, 20);
          onHoldFunction('#object-down', function(){objectDown(.5);}, 20);
          onHoldFunction('#object-forward', function(){objectForward(.5);}, 20);
          onHoldFunction('#object-backward', function(){objectBackward(.5);}, 20);
          onHoldFunction('#object-left', function(){objectLeft(.5);}, 20);
          onHoldFunction('#object-right', function(){objectRight(.5);}, 20);
        </script>
      <script type="text/javascript">
          $('.dropdown-menu').find('form').click(function (e) {
              e.stopPropagation();
          });

        //Color picker dropdown doesn't close on click
          $('.color-dropdown').click(function(event){
               event.stopPropagation();
           });
          $('.color-dropdown').on('hide.bs.dropdown', function () {
              return false;
          });
          $(function () {
              $('.dropdown.keep-open').on({
                  "shown.bs.dropdown": function() {
                      $(this).data('closable', false);
                  },
                  "click": function() {
                      $(this).data('closable', true);
                  },
                  "hide.bs.dropdown": function() {
                      return $(this).data('closable');
                  }
              });
          });
          $(function () {
              $('.dropup.keep-open').on({
                  "shown.bs.dropdown": function() {
                      $(this).data('closable', false);
                  },
                  "click": function() {
                      $(this).data('closable', true);
                  },
                  "hide.bs.dropdown": function() {
                      return $(this).data('closable');
                  }
              });
          });

      </script>

<script type="text/javascript">

  var toggleMap = function(){
    $('#map-controls').fadeToggle();
    $('#object-controls').fadeToggle();
    $('#rotate-slider').fadeToggle();
    $('#scale-slider').fadeToggle();
    $('#rotz-slider').fadeToggle();
    $('#rotx-slider').fadeToggle();
    $('#roty-slider').fadeToggle();
  }
</script>

      <!-- Initialize Angular -->
      <!-- Use local installation - KMC -->
      <script src="js/angular.min.js"></script>
      <script src="core.js"></script>

  </body>
</html>
