<html>
  <head>
    <title>3Scape</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="google-site-verification" content="JWFQD_xC0qaRiYJD0Jdm7LzU92_SolZFlWAN0VW2fEg" />
    <meta name="globalsign-domain-verification" content="0N60TGhkkTPLK6Kecx2W5DbZ8UKdDDPtT-xB1AdoqH" />
    <meta name="description" content="a place to make and share interactive 3D on the web">
    <meta name="p:domain_verify" content="71238727c011f9da9c7b9445f91d4d7b"/>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- jquery stuff -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- Styles made by 3Scape team -->
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

    <script type="text/javascript" src="./js/uservoice.js"></script>
    <script type="text/javascript" src="./js/facebook.js"></script>
    <script type="text/javascript" src="./js/google.js"></script>

    <meta property="og:image" content="http://3Scape.me/logo-3S.png"/>
    <meta property="og:description" content="Make and share interactive 3D. If you can imagine it you can 3Scape it." />
  </head>
  <body>
    <div id="fb-root"></div><!-- FB Javascript SDK -->
    <!-- Banner logo -->
    <div class="row" style="margin-top:10px;">
      <div class="col-md-3"></div>
      <div class="col-md-6"><img src="images/logo-2.png" width="100%"/></div>
      <div class="col-md-3"></div>
    </div>

    <!-- Tag line -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><center><i><h1>Bring your imagination to life in your browser</h1></i></center></div>
      <div class="col-md-1"></div>
    </div>

    <!-- Section 1-->
    <div class="row" style="margin-left:60px;">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <p>Learn how easy it is to 3Scape with this 10 minute tutorial:</p>
        <p><iframe frameborder="0" height="215" width="215" src="//www.youtube.com/embed/iC434FWH53A"></iframe></p>
      </div>
      <div class="col-md-3">
        <p>Learn to code AND make virtual things that work!</p>
        <p><img src="images/rectangularPrism.jpg" width="215" height="215"/></p>
      </div>
      <div class="col-md-3">
        <p>This is your classroom on 3Scape. Try it for free.</p>
        <p><iframe frameborder="0" height="215" width="215" src="//www.youtube.com/embed/eUojsrBqyG8"></iframe></p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <!-- Call to Action -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><center><i><h1><a href="create">Start 3Scaping now for free!</a></h1></i></center></div>
      <div class="col-md-1"></div>
    </div>

  </body>
</html>
