<html>
  <head>
    <title>3Scape</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="google-site-verification" content="HshVtf6HnSfl2YCmfMSpPEkQJT4lwYlxWt1x5XSbjoo" />
    <meta name="globalsign-domain-verification" content="0N60TGhkkTPLK6Kecx2W5DbZ8UKdDDPtT-xB1AdoqH" />
    <meta name="description" content="a place to make and share interactive 3D on the web">
    <meta name="p:domain_verify" content="71238727c011f9da9c7b9445f91d4d7b"/>


    <!-- jquery stuff -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- Styles made by 3Scape team -->
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

    <script type="text/javascript" src="./js/uservoice.js"></script>
    <script type="text/javascript" src="./js/facebook.js"></script>
    <script type="text/javascript" src="./js/google.js"></script>

    <meta property="og:image" content="http://3Scape.me/logo-3S.png"/>
    <meta property="og:description" content="Make and share interactive 3D. If you can imagine it you can 3Scape it." />
  </head>
  <body>
    <div id="fb-root"></div><!-- FB Javascript SDK -->
    <!-- Banner logo -->
    <div class="row" style="margin-top:10px;">
      <div class="col-md-3"></div>
      <div class="col-md-6"><img src="images/logo-2.png" width="100%"/></div>
      <div class="col-md-3"></div>
    </div>

    <!-- Tag line -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><center><i><h1>Bring your imagination to life in your browser</h1></i></center></div>
      <div class="col-md-1"></div>
    </div>

    <!-- Section 1-->
    <div class="row" style="margin-left:60px;">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <p>Learn how easy it is to 3Scape with this 10 minute tutorial:</p>
        <p><iframe frameborder="0" height="215" width="215" src="//www.youtube.com/embed/iC434FWH53A"></iframe></p>
      </div>
      <div class="col-md-3">
        <p>Learn to code AND make virtual things that work!</p>
        <p><img frameborder="0" height="215" width="215" src="http://41.media.tumblr.com/25fda84c1fd5b1841bdc942f0a471511/tumblr_neh6umNszv1tlz633o2_500.png"></img></p>
      </div>
      <div class="col-md-3">
        <p>This is your classroom on 3Scape. Try it for free.</p>
        <p><iframe frameborder="0" height="215" width="215" src="//www.youtube.com/embed/eUojsrBqyG8"></iframe></p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <!-- Call to Action -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><center><i><h1><a href="create">Try 3Scape now for free!</a></h1></i></center></div>
      <div class="col-md-1"></div>
    </div>

    <!-- Social -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><center><p><span style="font-family: tahoma, geneva, sans-serif;"><a href="http://facebook.com/3ScapeMe"><img alt="" height="29" src="https://marketing-image-production.s3.amazonaws.com/uploads/6c428cadf247508197d8e253b3b697a5461f92f7eee5bdca0b33e00cebb61c633433f2a39991b96a19948ebe9849dc3bd9ec6a2f564123737a5b03bbd47bb996/FB-f-Logo__blue_29.png" width="29" /></a></span>&nbsp;&nbsp;<a href="http://twitter.com/3ScapeMe"><img alt="3Scape on Twitter" height="24" src="https://g.twimg.com/Twitter_logo_blue.png" width="29" /></a>&nbsp;&nbsp;<a href="http://blog.3Scape.me"><img alt="" height="28" src="https://marketing-image-production.s3.amazonaws.com/uploads/6c428cadf247508197d8e253b3b697a5461f92f7eee5bdca0b33e00cebb61c633433f2a39991b96a19948ebe9849dc3bd9ec6a2f564123737a5b03bbd47bb996/tumblr_logo_white_blue_28.png" width="28" /></a>&nbsp;<a href="http://www.pinterest.com/3ScapeMe/"><img alt="" height="29" src="https://marketing-image-production.s3.amazonaws.com/uploads/6c428cadf247508197d8e253b3b697a5461f92f7eee5bdca0b33e00cebb61c633433f2a39991b96a19948ebe9849dc3bd9ec6a2f564123737a5b03bbd47bb996/Pinterest_Badge_Red.png" width="29" /></a></p></center></div>
      <div class="col-md-1"></div>
    </div>

  </body>
</html>
