<html ng-app="3ScapeMain">
  <head>
    <title>3Scape</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="google-site-verification" content="HshVtf6HnSfl2YCmfMSpPEkQJT4lwYlxWt1x5XSbjoo" />
    <script type="text/javascript" src="./js/Bridgeworks.js"></script>    
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>   
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="./js/BwHelper.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/jquery.qtip.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.qtip.css"/>
    <script src="js/nicEdit.js"></script>
    <script type="text/javascript" src="jscolor/jscolor.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="css/whhg.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <script type="text/javascript" src="./js/crossbrowser.js"></script>
    <script type="text/javascript" src="./js/editor.js"></script>
    <script type="text/javascript" src="./js/controls.js"></script>
    <script tpype="text/javascript" src="./js/MapControls.js"></script>
    <script type="text/javascript" src="./js/bootstrap-slider.js"></script>

    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <style id="holderjs-style" type="text/css"></style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-26989160-4', '3scape.me');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
    <meta property="og:image" content="http://3Scape.me/logo-3S.png"/>
    <meta property="og:description" content="3Scape is a web site where anyone who can point, click, copy and paste can make and share interactive, 3D scapes online." /> 
  </head> 
  <body onresize="resize();">
    <div id="fb-root"></div><!-- FB Javascript SDK -->
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Fork ribbon -->
    <!-- <div class="github-fork-ribbon-wrapper left-bottom">
      <div class="github-fork-ribbon">
        <a href="https://github.com/kmcurry/3scape" target="_blank">Fork me on GitHub</a>
      </div>
    </div> -->
    <div id="ajax-modal" class="modal hide fade in" tabindex="-1" aria-hidden="false" style="display: block; margin-top: -128.5px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
          <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1"><p>This modal was loaded in via ajax</p></div>
          <div class="tab-pane" id="tab2"><p>This is some other tab content</p></div>
        </div>
        <button class="btn update">Update</button>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
    <img id="BackgroundImage" style="position: absolute;" src="BwContent/images/white.png"/>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">List of Objects</h4>
          </div>
          <!--Loading all the Libs and putting them in their respective places-->
          <div class="modal-body row">                                            
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active"><a href="#objects1" data-toggle="tab">Misc</a></li>
              <li><a href="#objects2" data-toggle="tab">Scenery</a></li>
              <li><a href="#objects3" data-toggle="tab">Vehicles</a></li>
            </ul>
            <div class="tab-content">                    
              <div class="tab-pane active" id="objects1">
                <div class="col-md-2" id="panel-lib-shapeObjects">
                  <H3>Shapes</H3>
                </div>
                <div class="col-md-2" id="panel-lib-animalObjects">
                  <H3>Animals</H3>
                </div>
                <div class="col-md-2" id="panel-lib-anatomyObjects">
                  <H3>Anatomy</H3>
                </div>
                <div class="col-md-2" id="panel-lib-peopleObjects">
                  <H3>People</H3>
                </div>                      
              </div>                      
              <div class="tab-pane" id="objects2">
                <div class="col-md-2" id="panel-lib-buildingObjects">
                    <H3>Buildings</H3>
                </div>
                <div class="col-md-2" id="panel-lib-egyptObjects">
                    <H3>Egypt</H3>
                </div>
                <div class="col-md-2" id="panel-lib-geoObjects">
                    <H3>Geography</H3>
                </div>
              </div>
              <div class="tab-pane" id="objects3">
                <div class="col-md-2" id="panel-lib-robotObjects">
                  <H3>Robots</H3>
                </div>
                <div class="col-md-2" id="panel-lib-landVehicleObjects">
                    <H3>Land</H3>
                </div>
                <div class="col-md-2" id="panel-lib-airVehicleObjects">
                    <H3>Air</H3>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="helpModal">
      <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Help</h4>
          </div>          
          <div class="modal-body row">                                            
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active"><a href="#helpIntro" data-toggle="tab">Intro</a></li>
              <li><a href="#helpControls" data-toggle="tab">Controls</a></li>
              <li><a href="#helpGuide" data-toggle="tab">Guide</a></li>
            </ul>
            <div class="tab-content">                    
              <div class="tab-pane active" id="helpIntro">
                Welcome to 3Scape!
              </div>                      
              <div class="tab-pane" id="helpControls">
                <div class="col-md-4">
                  <H3>Main</H3>
                  <div class="controlBullet">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                     - Object Z-Axis
                  </div>
                  <div class="controlBullet">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                     - Object X-Axis
                  </div>
                  <div class="controlBullet">
                    Shift + 
                    <span class="glyphicon glyphicon-arrow-up"></span>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                     - Object Y-Axis
                  </div>
                </div>  
                <div class="col-md-4">
                  <H3>Camera Mode</H3>
                  <div class="controlBullet">
                    <img src="left-click.png"> Rotate
                  </div>
                  <div class="controlBullet">
                    <img src="right-click.png"> Zoom
                  </div>
                  <div class="controlBullet">
                    <img src="both-click.png"> Pan
                  </div>
                </div>
                <div class="col-md-4">
                  <H3>Object Mode</H3>
                  <div class="controlBullet">
                    <img src="left-click.png"> Rotate
                  </div>
                  <div class="controlBullet">
                    <img src="right-click.png"> Pull/Push
                  </div>
                  <div class="controlBullet">
                    <img src="both-click.png"> Slide/Lift
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="helpGuide">
                <h3>
                  Click the
                  <button type="button" class="btn btn-info" role="button" title="Toggle Camera/Object Mode"><span class="modeButton toggleGlyph fa fa-video-camera fa-lg" style="font-size:2em;"></span>
                  </button>
                  Camera Mode button to switch to 
                  <button type="button" class="btn btn-danger" role="button" title="Toggle Camera/Object Mode"><span class="modeButton toggleGlyph fa fa-anchor fa-lg" style="font-size:2em;"></span>
                  </button>
                  Object Mode, changing the mouse controls to manipulate an object by clicking it.
                </h3>
              </div>                                            
            </div>                      
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>              
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="motionsModal">
      <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">List of Animations</h4>
          </div>
          <!--Loading all the Libs and putting them in their respective places-->
          <div class="modal-body row">
            <div class="col-md-8" id="panel-motions">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <button id="sidebar-button" type="button" class="btn btn-default navbar-btn btn-danger closed" title="Toggle Sidebar"><span class="glyphicon glyphicon-chevron-right"></span></button>      
    <!-- Navigation Header -->
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="Navbar" ng-controller="headerController">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://3scape.me" target="_blank"><div style="height:45px; margin-top:-12px;"><img src="logo-3S.png" style="max-width:100%; max-height:100%;"></div></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- UNCOMMENT FOR LOGIN -->
            <!-- <li>
              <div ng-show="global.isSignedIn()" class="btn-group dropdown">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Add Label"onclick="if(selected){openLabelEdit();}">
                  {{ global.currentUser().email }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>                        
              <div ng-hide="global.isSignedIn()">
                <a type="button" class="btn navbar-btn btn-danger" href="/login">
                  Login
                </a>
              </div>                        
            </li> -->
            <li>
              <div class="fb-like" data-href="http://3scape.me" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" style="margin-left:3px;"></div>
            </li>                      
            <!-- As wide as the longest object name to avoid displacement bug. More elegant solution? -->
            <li><p class="navbar-text" id="Current_Object" style="width: 200px">Target: X</p></li>
            <!-- <li>
              <div class="navbar-form" style="width:200px;">
                <div class="input-group">
                  <input type="text" class="form-control" id="Search" placeholder="Find Objects">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="Search();"><span class="glyphicon glyphicon-search" style="font-size:1.4em;"></span></button>
                  </span>
                </div>
              </div>
            </li> -->                  
            <li>
              <div class="btn-group navbar-btn" style="margin-left:10px;">
                <button class="btn btn-default btnShape">
                  <span class="shape fa fa-cube fa-lg" title="Cube" onclick="load(cube);"></span>
                  <span class="shape fa fa-circle fa-lg" title="Sphere" onclick="load(sphere);"></span>
                  <span class="shape fa fa-circle-thin fa-lg" title="Ring" onclick="load(Ring);"></span>
                  <span class="shape fa fa fa-eject fa-lg" title="Pyramid" onclick="load(Pyramid);"></span>
                  <span class="shape fa fa fa-database fa-lg" title="Tube" onclick="load(tube);"></span>  
                </button>    
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="shape glyphicon glyphicon-chevron-down" style="font-size:1.4em;" title="More"></span></button>
                <ul class="dropdown-menu">
                  <li style="margin-left: 8px">
                    <span class="shape fa fa-square fa-2x" title="Wall" onclick="load(wall);"></span>
                    <span class="shape fa fa fa-italic fa-2x" title="Beam" onclick="load(beam);"></span>
                    <span class="shape icon-cow" title="Cow" style="font-size:1.8em;" onclick="load(cow);"></span>
                    <span class="shape glyphicon glyphicon-tower" style="font-size: 1.8em;" title="Church" onclick="load(church);"></span>
                    <span class="shape fa fa fa-ambulance fa-2x" title="Med HumV" onclick="load(medHV);"></span>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#" data-toggle="modal" data-target="#myModal">Browse Objects...</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:bridgeworks.contentDir='/BwContent';bridgeworks.onLoadModified();bridgeworks.updateScene('grid-100.xml');$('#object-list').empty();$('#animate').empty();$('#slides').empty();ancientLoaded = 0;">New Scene</a></li>
                  <!--Loading the slides in the line below this, indicate how many slides you want loaded-->
                  <li><a href="javascript:bridgeworks.contentDir+='/Egypt';bridgeworks.updateScene('Egypt-Models.xml')" onclick="loadSlides(numSlides);ancientLoaded = 1;">Ancient Egypt</a></li>
                </ul>
              </div>
            </li>                      
            <li>
              <div class="btn-group dropdown keep-open" style="margin-left:3px;">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Set Color">
                  <span class="shape icon-paintroll"></span>
                </button>
                <ul class="dropdown-menu color-dropdown" role="menu">
                  <script type="text/javascript">
                  function updateInfo(color) {
                    document.getElementById('info-r').value = color.rgb[0];
                    document.getElementById('info-g').value = color.rgb[1];
                    document.getElementById('info-b').value = color.rgb[2];
                  }
                  </script>
                  <input class="color {onImmediateChange:'updateInfo(this);'}" id="myColor" value="FFFFFF" onchange="applyColor();" style="margin-left: 2px;">                            
                  <input id="info-r" size="2" type="hidden"/>
                  <input id="info-g" size="2" type="hidden"/>
                  <input id="info-b" size="2" type="hidden"/>
                </ul>
              </div>
            </li>
            <li>
              <div class="btn-group dropdown">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Add Label"onclick="if(selected){openLabelEdit();}">
                  <span class="shape fa fa-font" style="font-size:1.4em;"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="createRecord();">Label</a></li>
                  <li class="divider"></li>
                  <li><a href="#" onclick="createBalloon();">Balloon Tip Label</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="btn-group dropdown">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Animate Object">
                  <span class="shape fa fa-bolt" style="font-size: 1.4em;"></span>
                </button>
                <ul class="dropdown-menu">
                  <li style="margin-left:8px;">
                    <span class="shape fa fa-expand fa-2x" title="Scale" onclick="load(Scal);"></span>
                    <span class="shape fa fa-refresh fa-2x" title="Spin" onclick="load(Spin);"></span>
                    <span class="shape fa fa-eye-slash fa-2x" title="Dissolve" onclick="load(Diss);"></span>
                    <span class="shape fa fa-fighter-jet fa-2x" title="Fly" onclick="load(fly);"></span>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#" data-toggle="modal" data-target="#motionsModal">Browse Animations...</a></li>
                </ul>
              </div>
            </li>                      
            <li>
              <button type="button" class="btn btn-default navbar-btn" id="navCut" role="button" onclick="cut();" >
                <span class="shape fa fa-scissors fa-lg" style="font-size:2em" title="Cut"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn" id="navCopy" role="button" onclick="copy();" >
                <span class="shape fa fa-files-o fa-lg" style="font-size:2em" title="Copy"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn" id="navPaste" role="button" onclick="paste();" >
                <span class="shape fa fa-clipboard fa-lg" style="font-size:2em;" title="Paste"></span>
              </button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">              
            <li>
              <button type="button" class="btn btn-info navbar-btn toggleController" id="navCamera" role="button" onclick="switchModes();toggleMode();" title="Toggle Camera/Object Mode" style="margin-right:3px;">
                <span class="modeButton toggleGlyph fa fa-video-camera fa-lg" style="font-size:2em;"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-purple navbar-btn toggleController" id="navMap" role="button" onclick="toggleMap();" title="Toggle Map Controls" style="margin-right:3px;">
                <span class="toggleGlyph fa fa-compass fa-lg" style="font-size:2em;"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-success navbar-btn" id="navFullscreen" role="button" onclick="fullscreenNav();" title="Fullscreen" style="margin-right:3px;">
                <span class="glyphicon glyphicon-fullscreen" style="font-size:1.4em;"></span>
              </button>
            </li>                      
            <li>
              <button style="margin-right:3px;" type="button" class="btn btn-warning navbar-btn" data-toggle="modal" data-target="#helpModal" title="Help">
                <span class="fa fa-question-circle fa-lg" style="font-size:2em;"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End headerController scope -->
    <div class="row">      
      <div id="container" style="width:300px; display: none;">
        <div id="side-nav" class="width sidebar collapse" style="padding:0; border:0;z-index:1029">
          <div style="padding: 20px; overflow:hidden; width:300px;">
            <div>
              <!--javascript:bridgeworks.updateScene('Play.xml') bug about evaluators, ask kevin-->
              <ul class="nav nav-tabs" style="clear:both">
                <li class="active"><a href="#object-list" data-toggle="tab">Objects</a></li>
                <li><a href="#animate" data-toggle="tab">Animate</a></li>
                <li><a href="#slides" data-toggle="tab">Slides</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="object-list">
                  <ul class="nav nav-sidebar">
                    <!--This is where the objects get loaded into the list-->
                  </ul>
                </div>
                <div class="tab-pane" id="animate">
                  <ul class="nav nav-sidebar">
                    <!--This is where the animations get loaded into the list-->
                  </ul>                                    
                </div>
                <!--BEGIN PROJECT SCOPE-->
                <div class="tab-pane" id="slides" ng-controller="projectController">
                  <span class="glyphicon glyphicon-play dvd" title="Play" onclick="if(isPlaying == 0){playSlides();} else if(isPlaying == 2){isPlaying = 1;}"></span>
                  <span class="glyphicon glyphicon-pause dvd" title="Pause" onclick="bridgeworks.renderController.pause();"></span>
                  <span class="glyphicon glyphicon-stop dvd" title="Stop" onclick="bridgeworks.renderController.stop();bridgeworks.updateScene('Slide1.xml');window.clearInterval(timer);window.clearInterval(playSlider);isPlaying = 0;slidesPlayed = 1;"></span>
                  <span class="glyphicon glyphicon-arrow-left dvd" title="Previous Slide" onclick="previousSlide();"></span>
                  <span class="glyphicon glyphicon-arrow-right dvd" title="Next Slide" onclick="nextSlide();"></span>
                  <ul class="nav nav-sidebar" id="slidePanel">
                    <!-- <div ng-show="global.isSignedIn()">
                      My ID: {{ global.currentUser()._id }}
                      <p>My Projects:</p>
                        <div class="checkbox" ng-repeat="project in projects">
                          <label>
                            <input type="checkbox" ng-click="deleteProject(project._id)"> {{project.title}}
                          </label>
                        </div>
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control input-lg text-center" placeholder="My Project" ng-model="formData.title">
                        </div>                      
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createProject()">Add</button>
                      </form>  
                      Project Counter: {{projects.length}}
                      <h3>{{formData}}</h3>
                    </div>
                    <i ng-hide="global.isSignedIn()">Login to see Project interface</i> -->
                  </ul>                                        
                </div>
                <!--END PROJECT SCOPE-->
              </div>                              
            </div>                                                
          </div>
        </div>
      </div>            
      <div class="col-sm-12" style="height:100%; width:100%; padding:0;padding-right: 0;" id="BwContainer" ondblclick="handleEvent(event);" onclick="handleEvent(event);" onmousedown="handleEvent(event);" onmouseup="handleEvent(event);" onmousemove="handleEvent(event);">
        <canvas id="Canvas" style="width:100%">
        </canvas>
      </div>
      <!-- WILL REVISIT SLIDES
      <div id="present-tray">
        <span class="glyphicon glyphicon-play dvd" title="Play" onclick="if(isPlaying == 0){playSlides();} else if(isPlaying == 2){isPlaying = 1;}"></span>
        <span class="glyphicon glyphicon-pause dvd" title="Pause" onclick="bridgeworks.renderController.pause();"></span>
        <span class="glyphicon glyphicon-stop dvd" title="Stop" onclick="bridgeworks.renderController.stop();bridgeworks.updateScene('Slide1.xml');window.clearInterval(timer);window.clearInterval(playSlider);isPlaying = 0;slidesPlayed = 1;"></span>
        <span class="glyphicon glyphicon-arrow-left dvd" title="Previous Slide" onclick="previousSlide();"></span>
        <span class="glyphicon glyphicon-arrow-right dvd" title="Next Slide" onclick="nextSlide();"></span>  
        <span class="dropdown dropup dvd">
          <a class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 10px; margin-bottom: 2px; text-decoration: none; color: white">Slide<b class="caret"></b></a>
          <ul class="dropdown-menu" id="dropUpTray">
            To be populated
          </ul>
        </span>
        <span class="glyphicon glyphicon-resize-small dvd" title="Exit Fullscreen" style="float: right" onclick="closeFullScreen();"></span>
      </div> -->
    </div>        
    <input id="rotxs" data-slider-id='rotx-slider' type="text"/>
    <input id="rotys" data-slider-id='roty-slider' type="text"/>
    <input id="rotzs" data-slider-id='rotz-slider' type="text"/>
    <input id="scales" data-slider-id='scale-slider' type="text"/>                        
    <script type="text/javascript" src="./js/sliderInit.js"></script>
    <div id="map-controls">
      <div id="Rotate">                  
        <span id="rotate-counter" class="shape fa fa-undo" title="Rotate Counter-Clockwise" style="font-size: 2em;"></span>
        <span id="rotate-clockwise" class="shape glyphicon glyphicon-repeat" title="Rotate Clockwise" style="font-size: 1.8em"></span>
      </div>        
      <div id ="Tilt">
        <span id="tilt-up" class="shape glyphicon glyphicon-circle-arrow-up" style="font-size:2em" title="Tilt Up" onmousedown="tiltUp();"></span>
        <span id="tilt-down" class="shape glyphicon glyphicon-circle-arrow-down" style="font-size:2em" title="Tilt Down" onmousedown="tiltDown();"></span>
      </div>              
      <div id="Zoom">
        <span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:2em" title="Zoom In"></span>
        <span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:2em" title="Zoom Out"></span>
      </div>
    </div>
    <div id="object-controls">
      <div>                  
        <span id="object-up" class="shape icon-pushalt" title="Move Object Up" style="font-size: 2em;"></span>
        <span id="object-down" class="shape icon-pullalt" style="font-size:2em" title="Move Object Down"></span>
      </div>        
      <div>                
        <span id="object-forward" class="shape fa fa-arrow-up" style="font-size:2em" title="Move Object Forward"></span>
        <span id="object-backward" class="shape fa fa-arrow-down" style="font-size:2em" title="Move Object Backward"></span>
      </div>              
      <div>
        <span id="object-left" class="shape fa fa-arrow-left" style="font-size:2em" title="Move Object Left"></span>
        <span id="object-right" class="shape fa fa-arrow-right" style="font-size:2em" title="Move Object Right"></span>
      </div>
    </div>
    <div id="toolbar-wrapper" style="text-align:center;">
      <div id="present-toolbar">
        <button class="btn btn-default btnshape"id="Current_Object2" style="font-size:1.4em; color:#6f5499;">Target: X</button>
        <div class="btn-group dropup">
          <button class="btn btn-default btnShape">
            <span class="shape fa fa-cube fa-2x" title="Cube" onclick="load(cube);"></span>
            <span class="shape fa fa-circle fa-2x" title="Sphere" onclick="load(sphere);"></span>
            <span class="shape fa fa-circle-thin fa-2x" title="Ring" onclick="load(Ring);"></span>
            <span class="shape fa fa fa-eject fa-2x" title="Pyramid" onclick="load(Pyramid);"></span>
            <span class="shape fa fa fa-database fa-2x" title="Tube" onclick="load(tube);"></span>  
          </button>    
          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="shape glyphicon glyphicon-chevron-up" style="font-size:2em;" title="More"></span></button>
          <ul class="dropdown-menu">
            <li><a href="javascript:bridgeworks.contentDir='/BwContent';bridgeworks.onLoadModified();bridgeworks.updateScene('grid-100.xml');$('#object-list').empty();$('#animate').empty();$('#slides').empty();ancientLoaded = 0;">New Scene</a></li>
            <!--Loading the slides in the line below this, have to give how many slides you want loaded-->
            <li><a href="javascript:bridgeworks.contentDir+='/Egypt';bridgeworks.updateScene('Egypt-Models.xml')" onclick="loadSlides(numSlides);ancientLoaded = 1;">Ancient Egypt</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">Browse Objects...</a></li>
            <li class="divider"></li>
            <li style="margin-left: 8px">
              <span class="shape fa fa-square fa-2x" title="Wall" onclick="load(wall);"></span>
              <span class="shape fa fa fa-italic fa-2x" title="Beam" onclick="load(beam);"></span>
              <span class="shape icon-cow" title="Cow" style="font-size:1.8em;" onclick="load(cow);"></span>
              <span class="shape glyphicon glyphicon-tower" style="font-size: 1.8em;" title="Church" onclick="load(church);"></span>
              <span class="shape fa fa fa-ambulance fa-2x" title="Med HumV" onclick="load(medHV);"></span>
            </li>
          </ul>
        </div>
        <div class="btn-group dropup keep-open" style="margin-left:3px;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Set Color">
            <span class="shape icon-paintroll" style="font-size:1.4em;"></span>
          </button>
          <ul class="dropdown-menu color-dropdown" role="menu">
            <!-- Color Picker Script - ColorCodeHex.COM -->
            <script type="text/javascript">
            function updateInfo(color) {
              document.getElementById('info-r').value = color.rgb[0];
              document.getElementById('info-g').value = color.rgb[1];
              document.getElementById('info-b').value = color.rgb[2];
            }
            </script>

            <input class="color {onImmediateChange:'updateInfo(this);'}" id="myColor" value="FFFFFF" onchange="applyColor();" style="margin-left: 2px;">                            
            <input id="info-r" size="2" type="hidden"/>
            <input id="info-g" size="2" type="hidden"/>
            <input id="info-b" size="2" type="hidden"/>
          </ul>
        </div>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Add Label">
            <span class="shape fa fa-font" style="font-size: 2em;"></span>
          </button>
          <ul class="dropdown-menu">                
            <li><a href="#" onclick="createRecord();">Label</a></li>
            <li class="divider"></li>
            <li><a href="#" onclick="">Balloon Tip Label</a></li>
          </ul>
        </div>
        <div class="btn-group dropup">
          <button style="font-size: 1.4em;" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="Animate Object">
            <span class="shape fa fa-bolt" style="font-size:1.4em;"></span>
          </button>
          <ul class="dropdown-menu">                
            <li><a href="#" data-toggle="modal" data-target="#motionsModal">Browse Animations...</a></li>
            <li class="divider"></li>
            <li style="margin-left:8px;">
              <span class="shape fa fa-expand fa-2x" title="Scale" onclick="load(Scal);"></span>
              <span class="shape fa fa-refresh fa-2x" title="Spin" onclick="load(Spin);"></span>
              <span class="shape fa fa-eye-slash fa-2x" title="Dissolve" onclick="load(Diss);"></span>
              <span class="shape fa fa-fighter-jet fa-2x" title="Fly" onclick="load(fly);"></span>
            </li>
          </ul>
        </div>            
        <button type="button" class="btn btn-default" id="pCut" role="button" onclick="cut();">
              <span class="shape fa fa-scissors fa-2x" style="font-size:2em" title="Cut"></span>
        </button>
        <button type="button" class="btn btn-default" id="pCopy" role="button" onclick="copy();">
              <span class="shape fa fa-files-o fa-2x" style="font-size:2em" title="Copy"></span>
        </button>                      
        <button type="button" class="btn btn-default" id="pPaste" role="button" onclick="paste();">
              <span class="shape fa fa-clipboard fa-2x" style="font-size:2em;" title="Paste"></span>
        </button>                              
        <button type="button" class="btn btn-info navbar-btn toggleController" role="button" onclick="switchModes();toggleMode();" title="Toggle Camera/Object Mode" style="height:42px;">
          <span class="modeButton fa fa-video-camera fa-2x toggleGlyph"></span>
        </button>
        <button type="button" class="btn btn-purple navbar-btn toggleController" id="pMap" role="button" onclick="toggleMap();" title="Toggle Map Controls" style="height:42px;">
          <span class="toggleGlyph fa fa-compass fa-2x"></span>
        </button>
        <button type="button" class="btn btn-success navbar-btn" id="pFullscreen" role="button" onclick="closeFullScreen();" title="Exit Fullscreen">
          <span class="glyphicon glyphicon-resize-small" style="font-size:2em;"></span>
        </button>                
        <button style="margin-right:10px;" type="button" class="btn btn-warning navbar-btn" data-toggle="modal" data-target="#helpModal" title="Help">
          <span class="fa fa-question-circle fa-2x"></span>
        </button>                      
      </div>
    </div>
    <div id="progress" style="display:none"></div>
    <div id="dialog" style="display:none; top:50%" title="Please enter your description for this item below">
      <form method="post"> <!--id="my-form" enctype="multipart/form-data" -->
        <textarea name="title" id="title" style="width:100%"></textarea>
        <!-- <input type="text" id="title">-->
        <p><input id="submitLabel" type="submit" value="Submit"></p>
      </form>
    </div>    
    <!--<video controls="controls" src="http://localhost/bwjs/BwContent/images/quake.mpg">
    Your browser does not support the video tag.
    </video>-->           
    <script type="text/javascript">
      //Angular user Login logic
      window.user = null
      <% if (user) { %>
        window.user = <%-(JSON.stringify(user))%>
      <% } %>
    </script>
    <script type="text/javascript" src="./js/bwInit.js"></script>
    <script type="text/javascript" src="./js/ui.js"></script>
    <script type="text/javascript" src="./js/fullscreen.js"></script>
    <script type="text/javascript" src="./js/slideshow.js"></script>
    <script type="text/javascript" src="./js/canvasNav.js"></script>
    <script type="text/javascript" src="./js/label.js"></script>
    <!-- Initialize Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="core.js"></script>
  </body>
</html>