<!doctype html>
<html>
<head>
	<title>3Scape Login</title>
	<meta name="robots" content="noindex">
	<meta name="description" content="a place to make and share interactive 3D on the web">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body background="images/login-signup-background.png">

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="padding-top:5%;">

		    <center>
		        <img src="images/logo.png" width="250px" height="200px">
		        <br/>
		        <h3>make and share <br/>interactive 3D</h3>
		    </center>
			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
					<div class="alert alert-info"><%= info_message %></div>
				<% } %>
			<% if (info_message.length > 0) { %>
					<div class="alert alert-info"><%= info_message %></div>
				<% } %>
				<% if (error_message.length > 0) { %>
					<div class="alert alert-danger"><%= error_message %><a href="/forgot">  Forgot Password?</a></div>
				<% } %>
				<% if (success_message.length > 0) { %>
					<div class="alert alert-success"><%= success_message %></div>
				<% } %>

			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				</div>

				<button type="submit" class="btn-lg">Login</button>
			</form>

			<hr>

			<p class="link-list">Need an account? <a href="/signup">Signup</a> | <a href="/privacy">Privacy Policy</a></p>

		</div>
</div>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/snappy.css">
	<a href="https://plus.google.com/112246128134687979668" rel="publisher"></a>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26989160-5', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
