<html>
  <head>
    <title>3Scape</title>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="description" content="a place to make and share interactive 3D on the web">

    <!-- jquery stuff -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- Styles made by 3Scape team -->
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

    <script type="text/javascript" src="./js/uservoice.js"></script>
    <script type="text/javascript" src="./js/facebook.js"></script>
    <script type="text/javascript" src="./js/google.js"></script>

    <meta property="og:image" content="https://go.3Scape.me/logo-3S.png"/>
    <meta property="og:description" content="Make and share interactive 3D. If you can imagine it you can 3Scape it." />
  </head>
  <body>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <div class="row" style="margin:10px;">
          <h1><a href="/login">Login</a></h1>
        </div>
        <div class="row" style="margin:10px;">
          <h1><a href="/signup">Signup</a></h1>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </body>
</html>
