<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Error 404</title>
    <script type="text/javascript" src="./js/Bridgeworks.js"></script>
    
    <!--<link type="text/css" rel="stylesheet" href="css/style.css" />-->
    <!-- jquery stuff -->
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="./js/BwHelper.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/nicEdit.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    
    <!-- application scripts -->
    <script type="text/javascript" src="./js/crossbrowser.js"></script>
    <script type="text/javascript" src="./js/editor.js"></script>
    <script type="text/javascript" src="./js/controls.js"></script>
    <!--<link type="text/css" rel="StyleSheet" href="css/bootstrap.min.css"/>-->

</head>
<body style="background-color: #eee">
	<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="Navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  
                  <a class="navbar-brand" href="http://3scape.me" target="_blank"><div style="height:45px; margin-top:-12px;"><img src="images/logo-3S.png" style="max-width:100%; max-height:100%;"></div></a>
              </div>
              <button class="btn btn-default navbar-btn btn-danger disabled">Error: No WebGL detected in browser.</button>
              
          </div>
      </div>
    <div class="row">
		<div class="jumbotron text-center">
			<h1>We couldn't load 3Scape - sorry about that!</h1>
      <h3>Here's what you should see:</h3>
      <img src="https://cloud.githubusercontent.com/assets/69151/3176874/a95b70c8-ec09-11e3-8d58-5a3c379a9fa2.png" style="max-width: 600px; margin-bottom: 2em;">
			<h3>It is possible that your browser doesn't support <a href="http://get.webgl.org/">WebGL</a>, the 3D technology used to make our presentations.</h3>
			<h3>Please run 3Scape using <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>.</h3>
		</div>
	</div>
</body>
</html>
