<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>3Scape</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="a place to make and share interactive 3D on the web">

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body style="background-color: #eee">
	<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="Navbar">
          <div class="container-fluid">
              <div class="navbar-header">

                  <a class="navbar-brand" href="3scape.me" target="_blank"><div style="height:45px; margin-top:-12px;"><img src="images/logo-3S.png" style="max-width:100%; max-height:100%;"></div></a>
              </div>
              <button class="btn btn-default navbar-btn btn-danger disabled">Error: No WebGL detected in browser.</button>

          </div>
      </div>
    <div class="row">
		<div class="jumbotron text-center">
			<h1>This browser doesn't support 3Scape - sorry about that!</h1>
      <h3>Here's what you should see:</h3>
      <img src="https://cloud.githubusercontent.com/assets/69151/3176874/a95b70c8-ec09-11e3-8d58-5a3c379a9fa2.png" style="max-width: 600px; margin-bottom: 2em;">
			<h3>It is possible that your browser doesn't support <a href="http://get.webgl.org/">WebGL</a>, the 3D technology used to make our presentations.</h3>
			<h3>Please run 3Scape using <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>.</h3>
		</div>
	</div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26989160-5', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
