<!doctype html>
<html>
<head>
	<title>3Scape Opt-Out</title>
	<meta name="description" content="Kids learn by making 3D contraptions powered by physics.">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/opt-out.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		function cancel3ScaperDestruction() {
			$.ajax({
				url: 'cancelDestroy3Scaper',
				type: 'POST',
				success: redirectToProfile
			});
		}

		function destroy3Scaper() {
			alert('This is the point of no return.');
			$.ajax({
				url: 'destroy3Scaper',
				type: 'POST',
				success: confirm3ScaperDestruction
			});
		}

		function confirm3ScaperDestruction() {
			location.href = "http://3Scape.me";
		}

		function redirectToProfile() {
			location.href = "/profile";
		}

	</script>
</head>
<body>



    <div class="row banner">
  		<a href="#">
  			<img src="images/minimal-banner-template-large.png" class="banner" alt="3Scape Banner" />
  		</a>
  	</div>

		<div class="row apology">
			<div class="col-md-12">
    		<p>We're sorry to see you go!</p>
			</div>
		</div>

		<div class="row return">
			<div class="col-md-12">
				<h2>Please confirm this permanent action</h2>
				<p>3Scape is an awesome place to create and experiement with objects in 3D.</p>
				<p>If you leave us, you'll be missing out! You really wouldn't want that now would you?</p>
				<a class="return-btn" style="cursor:pointer" onclick="cancel3ScaperDestruction();">Wait! Take me back!</a>
			</div>
		</div>

		<div class="row survey">
			<div class="col-md-12">
				<p>However, if your mind is made up, then continue.</p>
				<p>But before you go, we would greatly appreciate it if you would be willing to complete
					a short 1 minute survey about why you're leaving.</p>
					<a class="survey-btn" onClick="$('#survey-form').slideToggle('slow');">Survey</a>
			</div>
		</div>


		<div>
		  	<div id="survey-form" class="collapse">
					<iframe src="https://docs.google.com/forms/d/17Vv2rZCEzfD70_-H6rbdXnDxmL1QdMvbBEwjt-0A0N0/viewform?embedded=true"
					width="760" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		  	</div>
		</div>


		<div class="row delete">
			<div class="col-md-12">
				<p>By pressing the delete button below, you will be permanently erasing your account and all 3Scapes you have ever created.</p>
				<h2>There is no going back from here.</h2>
				<a class="delete-btn" style="cursor:pointer" onclick="destroy3Scaper();">Delete Account</a>
			</div>
		</div>

</body>
</html>
