<!doctype html>
<html>
<head>
	<title>3Scape Opt-Out</title>
	<meta name="description" content="Kids learn by making 3D contraptions powered by physics.">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/opt-out.css">
</head>
<body>



    <div class="row banner">
  		<a href="#">
  			<img src="images/minimal-banner-template-large.png" class="banner" alt="3Scape Banner" />
  		</a>
  	</div>

		<div class="row apology">
			<div class="col-md-12">
    		<p>We're sorry to see you go!</p>
			</div>
		</div>

		<div class="row return">
			<div class="col-md-12">
				<p>3Scape is an awesome place to create and experiement with objects in 3D.</p>
				<p>If you leave us, you'll be missing out! You really wouldn't want that now would you?</p>
				<a class="return-btn" href="#">Wait! Take me back!</a>
			</div>
		</div>

		<div class="row survey">
			<div class="col-md-12">
				<p>However, if your mind is made up, then continue.
				<p>But before you go, we would greatly appreciate it if you would be willing to complete
					a 2 minute survey about why you're leaving.</p>
				<a class="survey-btn" href="https://docs.google.com/forms/d/17Vv2rZCEzfD70_-H6rbdXnDxmL1QdMvbBEwjt-0A0N0/viewform">Survey</a>
			</div>
		</div>

		<div class="row delete">
			<div class="col-md-12">
				<p>By pressing the delete button below, you will be permanently erasing your account and all 3Scapes you have ever created.</p>
				<p>There is no going back. A confirmation will pop-up to make sure this is really what you want to do.</p>
				<a class="delete-btn" href="#">Delete Account</a>
			</div>
		</div>





	<a href="https://plus.google.com/112246128134687979668" rel="publisher"></a>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26989160-5', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
