<!doctype html>
<html>
<head>
	<title>3Scape</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="description" content="a place to make and share interactive 3D on the web">
	<script type="text/javascript" src="./js/facebook.js"></script>
	<style>
		body {
		    padding-top:80px;
		}
		body::after {
          content: "";
          background-image: url("../images/background.png");
          opacity: 0.2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <center>
        <img src="../images/logo.png" width="250px" height="200px">
        <br/>
        <h3>make and share interactive 3D</h3>
    </center>

		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

	<!-- LOGIN FORM -->
	<form action="/reset/:token" method="post">
		<div class="form-group">
			<label>New Password</label>
			<input type="password" class="form-control" name="password" placeholder="New password">
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="confirm" placeholder="Confirm password">
		</div>
		<input type="hidden" name="token" value="<%=token%>"/>
		<button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p><a href="/privacy">Privacy Policy</a>.</p>

</div>

</div>
<a href="https://plus.google.com/112246128134687979668" rel="publisher"></a>
</body>
</html>
