<!doctype html>
<html>
<head>
    <title>3Scape Signup</title>
    <meta name="description" content="a place to make and share interactive 3D on the web">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>

</head>
<body background="images/login-signup-background.png">
  <div class="row" style="padding-top:20px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <center>
        <img src="images/logo.png" width="200px" height="160px">
      </center>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <center>
    <h2>Limited Time Offer!</h2>
    <h3>Register NOW for FREE</h3>
    <h4>$15 if you register after May 1</h4>
  </center>

  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">

      <form action="" method="POST" id="payment-form">

        <!-- show any messages that come back with authentication -->
        <% if (typeof message != 'undefined' && message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="form-group">
          <label>Email</label>
            <input class="form-control" type="email" name="email" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>

        <center><h3>Your card won't be charged <br/>unless you stay after May 1.</h3></center>
        <div class="panel panel-default row">
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-7 col-sm-7">
                <label><span>Card Number</span>
                  <input class="form-control cc-number" data-stripe="number" type="text" size="20" placeholder="•••• •••• •••• ••••" required/>
                </label>
              </div>
              <div class="col-md-4 col-sm-4">
                <label><span>CVC</span>
                  <input class="form-control cc-cvc" data-stripe="cvc" type="text" size="3" placeholder="•••" required/>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3">
                <label><span>Expiration</span>
                  <input class="form-control" data-stripe="exp-month" type="text" size="5" placeholder="MM"required/>
                </label>
                MM
              </div>
              <div class="col-md-4 col-sm-4">
                <label><span><br/></span>
                  <input class="form-control" data-stripe="exp-year" type="text" size="5" placeholder="YYYY"required/>
                </label>
                YYYY
              </div>
              <div class="col-md-5 col-sm-5">
                <img style="padding-top:20%;" src="images/stripe.png" title="Your payment is secure with Stripe"/>
              </div>
            </div>
          </div>
        </div>
        <center><div class="payment-errors"></div></center>
        <br/>
        <center><button type="submit" class="btn btn-xlarge btn-primary">Sign Up for Free!</button></center>
      </form>

        <hr>

        <center><a href="/login">Login</a> | <a href="/privacy">Privacy Policy</a></center>

    </div>
    <div class="col-sm-4"></div>
  </div>

<a href="https://plus.google.com/112246128134687979668" rel="publisher"></a>


<script>

  <% if (typeof paymentKey != 'undefined') { %>
    Stripe.setPublishableKey('<%- paymentKey %>');
  <% } %>

  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    var err = false;
    var errText = "";

    $('.cc-number').removeClass("alert-danger");
    $('.cc-cvc').removeClass("alert-danger");

    if (!Stripe.card.validateCardNumber($('.cc-number').val())) {
      err = true;

      $('.cc-number').addClass("alert-danger");

      errText += 'The Card number field must contain a valid card number.\n';
      $form.find('.btn').prop('disabled', false);

    }

    if (!Stripe.card.validateCVC($('.cc-cvc').val())) {
      err = true;

      $('.cc-cvc').addClass("alert-danger");

      errText += 'The CVC number is invalid.';
      $form.find('.btn').prop('disabled', false);
    }

    if (!err) {
      Stripe.card.createToken($form, stripeResponseHandler);
    } else {
      $('.payment-errors').addClass("alert-danger");
      $('.payment-errors').text(errText);
    }

    // Prevent the form from submitting with the default action
    return false;
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      console.log("stripe response error: " + response.error)
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26989160-5', 'auto');
  ga('send', 'pageview');

</script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/snappy.css">

</body>
</html>
