<html>
	<head>
		<title>3Scape Snappy</title>
		<meta http-equiv="x-ua-compatible" content="IE=10">
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/contextmenu.css"/>
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css">
		<link rel="stylesheet" type="text/css" href="css/slider.css">
		<script type="text/javascript" src="js/eventHandlers.js"></script>


	</head>
	<body onresize="resize();">

		<!-- Qualaroo for 3scape.me -->
		<!-- Paste this code right after the <body> tag on every page of your site. -->
		<script type="text/javascript">
		var _kiq = _kiq || [];
		(function(){
			setTimeout(function(){
				var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
				s.async = true; s.src = '//s3.amazonaws.com/ki.js/57680/cPN.js'; f.parentNode.insertBefore(s, f);
			}, 1);
		})();
		</script>
		<div id="fb-root"></div><!-- FB Javascript SDK -->

		<%- include('menus/objectbar'); -%>

		<div id="ZoomControls">
			<span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:4em" title="Zoom In"></span>
			<span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:4em" title="Zoom Out"></span>
		</div>

		<div id="BwContainer" onclick="handleMouse(event);"
				 onmousedown="handleMouse(event);" onmouseup="handleMouse(event);"
				 onmousemove="handleMouse(event);" ondblclick="handleMouse(event);">
			<canvas id="Canvas">
			</canvas>
		</div>


		<div id="model-menu" class="menu">
			<div class="rotater">
				<div class="btn btn-icon" name="model-scale-item" style="background: rgba(255, 255, 255, 0);">
					<input id="model-scale-slider" data-slider-id='scale-slider' type="text"/>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" name="model-color-item">
					<i class="fa fa-paint-brush"></i>
					<input type="text" value="333" name="model-color" class="pick-a-color">
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon shape" onclick="roam();">
					<i class="fa fa-bolt"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="cut();">
					<i class="fa fa-cut"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateRight();">
					<i class="fa fa-rotate-right"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateUp();">
					<i class="fa fa-arrow-up"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateDown();">
					<i class="fa fa-arrow-down"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateLeft();">
					<i class="fa fa-rotate-left"></i>
				</div>
			</div>
		</div>


		<script type="text/javascript">
			var bridgeworks = null;

			var modelMenu = document.querySelector("#model-menu");

			document.onreadystatechange = function () {
				if (document.readyState == "complete") {
					bridgeworks = init("grid-50.xml", document.getElementById("BwContainer"));

					onHoldFunction('#zoom-in', zoomIn, 20);
					onHoldFunction('#zoom-out', zoomOut, 20);

					addContextMenu();

				}
			}
		</script>

		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/crossbrowser.js"></script>
		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/snappy.js"></script>
		<script type="text/javascript" src="js/MapControls.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-slider.js"></script>

		<script type="text/javascript" src="js/contextmenu.js"></script>
		<script src="bower_components/pick-a-color/build/dependencies/tinycolor-0.9.15.min.js"></script>
		<script src="bower_components/pick-a-color/build/1.2.3/js/pick-a-color-1.2.3.min.js"></script>
	</body>
</html>
