<html>
	<head>
		<title>BWJS Demo</title>
		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/crossbrowser.js"></script>
		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/eventHandlers.js"></script>
		<script type="text/javascript" src="js/snappy.js"></script>
		<script type="text/javascript" src="js/MapControls.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="css/contextmenu.css"/>
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>

	</head>
	<body onresize="resize();">

		<div id="zoom-controls">
			<div id="Zoom">
				<span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:2em" title="Zoom In"></span>
				<span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:2em" title="Zoom Out"></span>
			</div>
		</div>

		<div id="BwContainer" onclick="handleMouse(event);" onmousedown="handleMouse(event);" onmouseup="handleMouse(event);" onmousemove="handleMouse(event);" ondblclick="handleMouse(event);">
			<canvas id="Canvas">
			</canvas>
		</div>

		<div class="menu">
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Cube.xml');">
					<i class="fa fa-cube"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Pyramid.xml');">
					<i class="fa fa-eject"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Sphere.xml');">
					<i class="fa fa-circle"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Tube.xml');">
					<i class="fa fa-database"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Gear.xml');">
					<i class="fa fa-gear"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Beam.xml');">
					<i class="fa fa-italic"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Wall.xml');">
					<i class="fa fa-square"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="loadModel('Ring.xml');">
					<i class="fa fa-circle-o"></i>
				</div>
			</div>
		</div>


		<script type="text/javascript">
			var bridgeworks = null;

			var theThing = document.querySelector(".menu");

			document.onreadystatechange = function () {
				if (document.readyState == "complete") {
					bridgeworks = init("grid-50.xml", document.getElementById("BwContainer"));

					onHoldFunction('#zoom-in', zoomIn, 20);
					onHoldFunction('#zoom-out', zoomOut, 20);

					document.oncontextmenu = function() {
						positionMenu(window.event);
						$(".menu").toggleClass("active");
						return false;
					}
				}
			}

			function positionMenu(e) {
				var xPosition = e.clientX - (theThing.clientWidth / 2);
				var yPosition = e.clientY - (theThing.clientHeight / 2);

				theThing.style.left = xPosition + "px";
				theThing.style.top = yPosition + "px";

			}


		</script>
	</body>
</html>
