<html>
	<head>
		<title>BWJS Demo</title>
		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/eventHandlers.js"></script>
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>

		<script type="text/javascript">
			var bridgeworks = null;
			var g_sceneInspector = null;
			var g_objectInspector = null;
			var g_selectedModel = null;
		</script>
	</head>
	<body onresize="resize();">

		<div class="form-group" style="background-color: #57ba56;">
			<a for="Toolbar" class="h-button btn btn-info" data-toggle="collapse" href="#Toolbar" aria-expanded="true" aria-controls="Toolbar"><span class="glyphicon glyphicon-chevron-down"></span></a>
			<div id="Toolbar" class="collapse">
				<div class="row">
					<div class="tool-button col-xs-1 col-xs-offset-1">Cube</div>
					<div class="tool-button col-xs-1">Pyramid</div>
					<div class="tool-button col-xs-1">Sphere</div>
					<div class="tool-button col-xs-1">Tube</div>
					<div class="tool-button col-xs-1">Gear</div>
					<div class="tool-button col-xs-1">Beam</div>
					<div class="tool-button col-xs-1">Plane</div>
					<div class="tool-button col-xs-1">Ring</div>
				</div>
			</div>
		</div>

		<div id="BwContainer" onclick="handleMouse(event);" onmousedown="handleMouse(event);" onmouseup="handleMouse(event);" onmousemove="handleMouse(event);" >
			<canvas id="Canvas">
			</canvas>
		</div>

		<script type="text/javascript">
			document.onreadystatechange = function () {
				if (document.readyState == "complete") {
					bridgeworks = init("SnapTo.xml", document.getElementById("BwContainer"));
				}
			}

		</script>
	</body>
</html>
