<html>
	<head>
		<title>3Scape Snappy</title>
		<meta http-equiv="x-ua-compatible" content="IE=10">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/crossbrowser.js"></script>
		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/eventHandlers.js"></script>
		<script type="text/javascript" src="js/snappy.js"></script>
		<script type="text/javascript" src="js/MapControls.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="css/contextmenu.css"/>
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css">
	</head>
	<body onresize="resize();">

		<div class="form-group">
			<a for="Toolbar" class="h-button btn btn-info" data-toggle="collapse" href="#Toolbar" aria-expanded="true" aria-controls="Toolbar"><span class="glyphicon glyphicon-chevron-down"></span></a>
			<div id="Toolbar" class="collapse in">
				<div class="row">
					<div class="tool-button col-xs-1 col-xs-offset-1" onclick="loadModel('Cube.xml');">Cube</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Pyramid.xml');">Pyramid</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Sphere.xml');">Sphere</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Tube.xml');">Tube</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Gear.xml');">Gear</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Beam.xml');">Beam</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Wall.xml');">Wall</div>
					<div class="tool-button col-xs-1" onclick="loadModel('Ring.xml');">Ring</div>
				</div>
			</div>
		</div>

		<div id="zoom-controls">
			<div id="Zoom">
				<span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:2em" title="Zoom In"></span>
				<span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:2em" title="Zoom Out"></span>
			</div>
		</div>

		<div id="BwContainer" onclick="handleMouse(event);" onmousedown="handleMouse(event);" onmouseup="handleMouse(event);" onmousemove="handleMouse(event);" ondblclick="handleMouse(event);">
			<canvas id="Canvas">
			</canvas>
		</div>


		<div id="model-menu" class="menu">
			<div class="rotater">
				<div class="btn btn-icon" onclick="cut();$('#model-menu').toggleClass('active');">
					<i class="fa fa-cut"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" name="model-color-item">
					<i class="fa fa-paint-brush"></i>
					<input type="text" value="CCC" name="model-color" class="pick-a-color form-control">
				</div>
			</div>
		</div>


		<script type="text/javascript">
			var bridgeworks = null;

			var modelMenu = document.querySelector("#model-menu");

			document.onreadystatechange = function () {
				if (document.readyState == "complete") {
					bridgeworks = init("grid-50.xml", document.getElementById("BwContainer"));

					onHoldFunction('#zoom-in', zoomIn, 20);
					onHoldFunction('#zoom-out', zoomOut, 20);

					$(".pick-a-color").pickAColor({
						showAdvanced						: false,
						showSpectrum            : false,
						showSavedColors         : false,
						saveColorsPerElement    : false,
						fadeMenuToggle          : true,
						showHexInput            : false,
						showBasicColors         : true,
						allowBlank              : false,
						inlineDropdown          : false
					});

					$("#model-color input").on("change", function () {
						applyColor($(this).val());
					});
				}
			}
		</script>
		<script type="text/javascript" src="js/contextmenu.js"></script>
		<script src="bower_components/pick-a-color/build/dependencies/tinycolor-0.9.15.min.js"></script>
		<script src="bower_components/pick-a-color/build/1.2.3/js/pick-a-color-1.2.3.min.js"></script>
	</body>
</html>
