<html>
	<head>
		<title>3Scape Snappy</title>
		<meta http-equiv="x-ua-compatible" content="IE=10">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/contextmenu.css"/>
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css">
		<link rel="stylesheet" type="text/css" href="css/slider.css">

		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/crossbrowser.js"></script>
		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/eventHandlers.js"></script>
		<script type="text/javascript" src="js/snappy.js"></script>
		<script type="text/javascript" src="js/MapControls.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-slider.js"></script>
	</head>
	<body onresize="resize();">

		<div>
			<a for="Toolbar" class="h-button btn btn-info" data-toggle="collapse" href="#Toolbar" aria-expanded="true" aria-controls="Toolbar">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
			<div id="Toolbar" class="collapse in">
				<div class="row">
					<div class="tool-button icon-cube col-xs-1" onclick="loadModel('Cube.xml');">Cube</div>
					<div class="tool-button icon-pyramid col-xs-1" onclick="loadModel('Pyramid.xml');">Pyramid</div>
					<div class="tool-button icon-sphere col-xs-1" onclick="loadModel('Sphere.xml');">Sphere</div>
					<div class="tool-button icon-tube col-xs-1" onclick="loadModel('Tube.xml');">Tube</div>
					<div class="tool-button icon-gear col-xs-1" onclick="loadModel('Gear.xml');">Gear</div>
					<div class="tool-button icon-beam col-xs-1" onclick="loadModel('Beam.xml');">Beam</div>
					<div class="tool-button icon-wall col-xs-1" onclick="loadModel('Wall.xml');">Wall</div>
					<div class="tool-button icon-ring col-xs-1" onclick="loadModel('Ring.xml');">Ring</div>
					<div class="tool-button icon-elbow col-xs-1" onclick="loadModel('Elbow.xml');">Elbow</div>
					<div class="tool-button icon-wedge col-xs-1" onclick="loadModel('Wedge.xml');">Wedge</div>
					<div class="tool-button icon-plank col-xs-1" onclick="loadModel('Plank.xml');">Plank</div>
				</div>
			</div>
		</div>

		<div id="ZoomControls">
			<div id="Zoom">
				<span id="zoom-in" class="shape glyphicon glyphicon-zoom-in" style="font-size:2em" title="Zoom In"></span>
				<span id="zoom-out" class="shape glyphicon glyphicon-zoom-out" style="font-size:2em" title="Zoom Out"></span>
			</div>
		</div>

		<div id="BwContainer" onclick="handleMouse(event);" onmousedown="handleMouse(event);" onmouseup="handleMouse(event);" onmousemove="handleMouse(event);" ondblclick="handleMouse(event);">
			<canvas id="Canvas">
			</canvas>
		</div>


		<div id="model-menu" class="menu">
			<div class="rotater">
				<div class="btn btn-icon" name="model-scale-item" style="background: rgba(255, 255, 255, 0);">
					<input id="model-scale-slider" data-slider-id='scale-slider' type="text"/>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" name="model-color-item">
					<i class="fa fa-paint-brush"></i>
					<input type="text" value="333" name="model-color" class="pick-a-color">
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon shape" onclick="roam();">
					<i class="fa fa-bolt"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="cut();">
					<i class="fa fa-cut"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateRight();">
					<i class="fa fa-rotate-right"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateUp();">
					<i class="fa fa-arrow-up"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateDown();">
					<i class="fa fa-arrow-down"></i>
				</div>
			</div>
			<div class="rotater">
				<div class="btn btn-icon" onclick="rotateLeft();">
					<i class="fa fa-rotate-left"></i>
				</div>
			</div>
		</div>


		<script type="text/javascript">
			var bridgeworks = null;

			var modelMenu = document.querySelector("#model-menu");

			document.onreadystatechange = function () {
				if (document.readyState == "complete") {
					bridgeworks = init("grid-50.xml", document.getElementById("BwContainer"));

					onHoldFunction('#zoom-in', zoomIn, 20);
					onHoldFunction('#zoom-out', zoomOut, 20);

					addContextMenu();

				}
			}
		</script>

		<script type="text/javascript" src="js/contextmenu.js"></script>
		<script src="bower_components/pick-a-color/build/dependencies/tinycolor-0.9.15.min.js"></script>
		<script src="bower_components/pick-a-color/build/1.2.3/js/pick-a-color-1.2.3.min.js"></script>
	</body>
</html>
