<!doctype html>
<html>
<head>
	<title>3Scape - Videos</title>
	<meta name="robots" content="noindex">
	<meta name="description" content="Kids learn by making 3D contraptions powered by physics.">
	<meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/videos.css">
	<link rel="stylesheet" type="text/css" href="css/snappy.css">
</head>
<body>

<div class="container">

    <div class="row banner">
  		<a href="#">
  			<img src="images/banner.png" class="banner visible-lg" alt="3Scape Banner" />
  			<img src="images/minimal-banner-template-blue.png" class="banner hidden-lg" alt="3Scape Banner" />
  		</a>
  	</div>

  	<div class="row video">
  		<div class="col-sm-6 col-md-4">
        <iframe src="https://www.youtube.com/embed/TrF6zCgE6yE" frameborder="0" allowfullscreen></iframe>
      </div>
  		<div class="col-sm-6 col-md-4">
        <iframe src="https://www.youtube.com/embed/ENSO8wcVgo4" frameborder="0" allowfullscreen></iframe>
      </div>
  		<div class="col-sm-6 col-md-4">
        <iframe src="https://www.youtube.com/embed/jjj2llmO4Mg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6 col-md-4">
        <iframe src="https://www.youtube.com/embed/KDvpFQ3ohZg" frameborder="0" allowfullscreen></iframe>
      </div>
  		<div class="col-sm-6 col-md-4">
        <iframe src="https://www.youtube.com/embed/py9ffHo78nI" frameborder="0" allowfullscreen></iframe>
      </div>
  		<div class="col-sm-6 col-md-4">
      </div>
		</div>

</div>


	<a href="https://plus.google.com/112246128134687979668" rel="publisher"></a>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26989160-5', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
