.actions{
    font-size: 0; /* need this to remove white space between inline block elements - can override on children*/
}

.row.actions-bar{
    margin-left:0;
    margin-right:0;
}

.actions-bar{
    position:fixed;
    bottom:0;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
    background: rgba(0,0,0,0.6);
    width:100%;
    transition: all 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
       -moz-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
         -o-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
            animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
}

.scroll-left, .scroll-right{
    bottom:0;
    transition: all 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
       -moz-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
         -o-animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
            animation: Close-Bottom-Drawer 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards 10s;
}

.palette{
    position:relative;
    bottom:0;
    transition: all 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    width:90%;
    margin: 0 auto;
    height:100px;
}


.navbar-fixed-bottom.hover:hover .palette{
    bottom:150px;
    background: rgba(0,0,0,0.6);
}


.navbar-fixed-bottom.hover:hover .actions-bar{
/*
    -webkit-transform: translate(0px,-110px); 
        -ms-transform: translate(0px,-110px); 
            transform: translate(0px,-110px);
*/
}

 .navbar-fixed-bottom.hover:hover .scroll-left, .navbar-fixed-bottom.hover:hover .scroll-right{
    -webkit-transform: translate(0px,-150px); 
        -ms-transform: translate(0px,-150px); 
            transform: translate(0px,-150px);
 }

ul.actions-list{
    padding-bottom:8px;
    min-width:100%;
    text-align: center;
    margin:0;
    font-size:0;
    white-space: nowrap;
    float:left;
}

.list-inline > li.action{
    padding:0;
}

li.action{
    width:11.11%;
    max-width: 100px;
    padding:0;
    min-width:70px;
}

.spin {
 background-image: url("../images/spin.png");
}


.orbit {
 background-image: url("../images/orbit.png");
}


.bounce {
 background-image: url("../images/bounce.png");
}

.collide {
 background-image: url("../images/collide.png");
}


.roam{
 background-image: url("../images/roam.png");
}


.dive-surface {
 background-image: url("../images/dive-surface.png");
}

.define-a-path {
 background-image: url("../images/define-a-path.png");
}

.fade-in-out{
  background-image: url("../images/fade-in-out.png");
}

.grow-shrink{
  background-image: url("../images/grow-shrink.png");
}

.opacity{
  background-image: url("../images/eye.png");
}

.shadow-circle:active {
  background-position:center bottom;
}

/* -- Colorwheel --- */

.colorwheel{
    position: relative;
    width:100%;
    max-width:120px;
}

.colorwheel svg{
    vertical-align: -40%;
}


/* --------- Animate Out After Page Load ------------ */

@-webkit-keyframes Close-Bottom-Drawer {
  0%   { bottom: 0; }
  100% { bottom: -150px; }
}
@-moz-keyframes Close-Bottom-Drawer {
  0%   { bottom: 0; }
  100% { bottom: -150px; }
}
@-o-keyframes Close-Bottom-Drawer {
  0%   { bottom: 0; }
  100% { bottom: -150px; }
}
@keyframes Close-Bottom-Drawer {
  0%   { bottom: 0; }
  100% { bottom: -150px; }
}
