.barn    { background: url("../images/CubeButton.png");    }
.cow     { background: url("../images/SphereButton.png");  }
.wall    { background: url("../images/PyramidButton.png"); }
.well    { background: url("../images/GearButton.png");    }
.plank   { background: url("../images/PlankButton.png");   }
.wall    { background: url("../images/WallButton.png");    }
.wedge   { background: url("../images/WedgeButton.png");   }
