.wedges-btn{
  position:fixed;
  right:10px;
  z-index:1000000000;
  font-family:'Helvetica', arial, sans-serif;
  font-weight:200;
  font-size:20px;
  color:#fff;
  background:#FFC125;
  border-radius:20px;
  border:none;
  padding:10px;
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  min-width:200px;
  text-align:center;
  outline:none;
}

.wedges-btn:active{
  outline:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.wedges-btn:visited{
  outline:none;
}

.wedges-btn:focus{
  outline:none;
}

button.gravity{
  bottom:20%;
}

button.reset{
  bottom:30%;
}

