.inertia-btn{
  position:fixed;
  right:10px;
  z-index:1000000000;
  font-family:'Helvetica', arial, sans-serif;
  font-weight:200;
  font-size:20px;
  color:#fff;
  background:#55af59;
  border-radius:20px;
  border:none;
  padding:10px;
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  min-width:200px;
  text-align:center;
  outline:none;
  text-transform: uppercase;
}

.inertia-slider{
  position:fixed;
  right:10px;
  z-index:1000000000;
  min-width:200px;
}

.inertia-btn:active{
  outline:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.inertia-btn:visited{
  outline:none;
}

.inertia-btn:focus{
  outline:none;
}

.gravity:focus{
  background:#30CA37;
}

.reset:focus{
  background:#4FBFEF;
}

.gravity{
  bottom:30%;
}

.reset{
  background:#46A8D2;
  bottom:20%;
}

.add-mass{
  bottom:10%;
}

.labelDiv{
  position:fixed;
  top:35%;
  left:50%;
  margin-left:-300px;
  z-index:1000000000;
  width:600px;
  background:#46A8D2;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color:#fff;
  text-align: center;
  padding:10px 10px 30px 10px;
  transition: all 500ms;
  opacity:0;
}

.labelDiv p {
  font-size:18px;
}

.labelDiv.showLabel.hideLabel{
  opacity:0;
}

.labelDiv.showLabel{
  opacity:1;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#sliderLabel{
  position:fixed;
  right:10px;
  z-index: 100000000000;
  bottom:25px;
  color:#555;
  text-shadow:0 0 2px rgba(0,0,0,0.2);
  font-family:'Helvetica', arial, sans-serif;
  font-weight:200;
  font-size:20px;
  width:200px;
  text-align: center;
  text-transform: uppercase;
}