@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff'),
       url('../fonts/roboto-light-webfont.ttf') format('truetype'),
       url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { font-family: 'robotobold' !important;

}

.tagline h2 {
 color: #57B955;
}

center h6 {
  color: grey;
}

video#bgvid { position: fixed;
margin: 0 auto;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background: url('images/dashboard.png') no-repeat;
background-size: cover;
background-position: center;
}

.add-top {
  margin-top: 5%;
}

.tagline {
  margin-top: 1%;
  height: 15%;
  background-color: white;
}

.tagline img { margin: 0 auto;
  margin-bottom: 2%;
  display: block;

}

.tagline h2 { text-align: center;

}

.bpec {
  text-align: center;
  background-color: white;
  padding: 0 2%;
}

.bpec p {
  margin-top: 2%;
  color: grey;
}

#entry-form {
  margin-top: 35%;
  padding-top: 5%;
  background-color: white;
}

@media (max-width: 480px) {

  .tagline {
    height: 10%;

  }

  #entry-form {
    margin-top: 90%;

  }


}
