@charset "utf-8";
/* CSS Document */

#container { width: 960px;
margin: 0 auto;
}

h1 { margin: 0 auto;

}

.banner { width: 100%;
}

/* Edit Profile Button */
a.edit {color: white;
text-decoration: none;
display: inline-block;
padding: 10px;
background:linear-gradient( 90deg, rgb(87,186,85) , rgb(186,213,50) , rgb(87,186,85) );
background-size: 200% 100%;
border-radius: 20px;
transition: all ease 0.2s;


}

a.edit:hover { background-position: -100% 0;

}

a.edit:active { border-radius: 0;
}


/* Place profile pics here */

#hexagon { width: 100px;
  height: 55px;
  background: grey;
  position: relative;
  margin: 0 auto;
  clear: both;
  margin-top: 10%;
  margin-bottom: 5%;
}

#hexagon:before { content: "";
position: absolute;
top: -25px;
left: 0;
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 25px solid grey;
}

#hexagon:after { content: "";
position: absolute;
bottom: -25px;
left: 0;
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 25px solid grey;
}

/* Place profile pics here end */

#info { height: 100px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}


#category { margin: 0 auto;
margin-bottom: 1%;
background-image:url(../images/category-3scapes.png);
width: 80%;
height: 85px;
clear: both;
}

#scapes { margin: 0 auto;
width: 80%;
height: 500px;
}
