
@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/lane.narrow-webfont.eot');
    src: url('../fonts/lane.narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lane.narrow-webfont.woff2') format('woff2'),
         url('../fonts/lane.narrow-webfont.woff') format('woff'),
         url('../fonts/lane.narrow-webfont.ttf') format('truetype'),
         url('../fonts/lane.narrow-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.eot');
    src: url('../fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/robotocondensed-lightitalic-webfont.eot');
    src: url('../fonts/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/robotocondensed-italic-webfont.eot');
    src: url('../fonts/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-italic-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/robotocondensed-bolditalic-webfont.eot');
    src: url('../fonts/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "robotolight";
  overflow: scroll;
}

#BwContainer {
  position: relative;
  resize: auto;
  border: 1px solid;
  width: 100%;
  height: 88%;
}

#Canvas {
  position: relative;
  z-index: 2;
}

#ToolbarContainer {
  border-bottom: 2px solid gray;
}

#Toolbar {
  top: 0px;
  height: 70px;
}

#Toolbar .row {
  margin: 4px;
}

ul.dropdown-menu { background-color: red;

}

#ZoomControls {
  text-align: center;
  position:fixed;
  right: 2%;
  top: 80%;
  padding: 13px;
  color: rgba(50, 50, 50, .7);
  z-index: 2000;
}

#scale-slider .slider-handle:focus {
  outline:none;
}

#scale-slider{
  position:fixed;
  width:120px;
  right: 2%;
  z-index: 2000;
}

#model-menu {
  top:0;
  left:0;
}

#model-scale-slider {
  position:relative;
  top:1%;
  left:1%;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    padding: 12px 22px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.h-button {
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 0px;
  width: 60px;
}

.v-button {
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 0px;
  height: 60px;
}


/* BEGIN ICONS */
.icon {
  padding: 0 0 0 0px;
  display: block;
  height: 376px;
  width: 751px;
  resize:auto;
}
.icon-cube {
  background-image: url('../images/cube-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-pyramid {
  background-image: url('../images/pyramid-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-sphere {
  background-image: url('../images/sphere-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tube {
  background-image: url('../images/tube-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-gear {
  background-image: url('../images/gear-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-beam {
  background-image: url('../images/beam-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-wall {
  background-image: url('../images/wall-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-ring {
  background-image: url('../images/ring-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-elbow {
  background-image: url('../images/elbow-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-wedge {
  background-image: url('../images/wedge-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-plank {
  background-image: url('../images/plank-color.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* END ICONS */

.tool-button {
  margin-top: 4px;
  height: 60px;
}

.shape {
  cursor: pointer;
  cursor: hand;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

.shape:hover{
  color: #07c;
}
