@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff'),
       url('../fonts/roboto-light-webfont.ttf') format('truetype'),
       url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

#BwContainer {
  position: relative;
  resize: auto;
  border: 1px solid;
  width: 98%;
  height: 90%;
}

#Canvas {
  position: relative;
  z-index: 2;
}

.payment {
  top: 400px;
  right: 800px;
}

.btn-xlarge {
    padding: 12px 22px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.h-button {
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 0px;
  width: 60px;
}

.v-button {
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 0px;
  height: 60px;
}

.shape {
  cursor: pointer;
  cursor: hand;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

.shape:hover{
  color: #07c;
}

.tool-button {
  cursor: pointer;
  cursor: hand;
  padding: 0 0 0 0px;
  display: block;
  height: 68px;
  width: 68px;
  resize:auto;
  background-size: 68px;
  background-repeat: no-repeat;
  background-position: center;
}

button.btn-lg {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #57B955;
  color: white;
  border-style: none;
}

label.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}

p.link-list{
  text-align: center;
}
