body{
    box-sizing: border-box;
}

/* --- Palette --- */

.palette{
    overflow-y:hidden;
    overflow-x: scroll;
     box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
    background: rgba(0,0,0,0.6);
}

.navbar-fixed-bottom{
    z-index: 50000;
}

ul.pans{
    padding-bottom:8px;
    min-width:100%;

    text-align: center;
    margin:0;
    font-size:0;

    white-space: nowrap;
    float:left;
}

.list-inline > li.pan{
    padding:0;
}

li.pan{
    width:11.11%;
    max-width: 120px;
    padding:0;
    min-width:70px;
}


.dial{
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.innerdial {
  position: relative;
  width: 95%;
  max-width:100px;
  background: #54BA56
    display:inline-block;
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
      -ms-border-radius:50%;
       -o-border-radius:50%;
          border-radius:50%;
}



.shadow-circle_knob {
    position:relative;
    background: rgba(255,255,255,0.4);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    border:1px solid #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

.shadow-circle {
    position: relative;
    border-radius: 50%;
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
    background-repeat: no-repeat;
    background-position: center;
    background-size:95%;
/*    z-index:9985;*/
}

.spin {
 background-image: url("../images/spin.png");
}


.orbit {
 background-image: url("../images/orbit.png");
}


.bounce {
 background-image: url("../images/bounce.png");
}

.collide {
 background-image: url("../images/collide.png");
}


.roam{
 background-image: url("../images/roam.png");
}


.dive-surface {
 background-image: url("../images/dive-surface.png");
}

.define-a-path {
 background-image: url("../images/define-a-path.png");
}

.fade-in-out{
  background-image: url("../images/fade-in-out.png");
}

.grow-shrink{
  background-image: url("../images/grow-shrink.png");
}

.opacity{
  background-image: url("../images/eye.png");
}

.shadow-circle:active {
  background-position:center bottom;
}

/* -- Colorwheel --- */

.colorwheel{
    position: relative;
    width:100%;
    max-width:120px;
}

.colorwheel svg{
    vertical-align: -40%;
}

/*--Scroll --*/

.scroll-right, .scroll-left{
    font-size:40px;
    position:fixed;
    color:#ccc;
    line-height:1;
    background:#fff;
    border:none;
    bottom:10px;
    z-index:10000000;
}

.scroll-active{
    color:#9ed6ec;
}

.scroll-active:active{ /* on .active b/c I don't want grayed out ones to highlight */
    margin-top:1px;
}

.scroll-active:hover{
   color:#5fcaf5;
}

.scroll-right{
    right:25px;
}

.scroll-left{
    right:50px;
}





/** Retina iPad **/
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (-moz-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-resolution: 192dpi) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-resolution: 2dppx) and (max-device-width: 1024px) and (orientation: landscape){
    .innerdial, #meter-inner, .meter-outer, .colorwheel {
        width:95%;
        max-width:90px;
        max-height:90px;
    }
}
