<style>
form {
margin: 0;
}

.modal-content {
font-family: 'robotolight';
background-image: url("../images/signup-login-background.png");
}

.modal-title {
font-family: 'robotobold';
color: #ff0000;
text-align: center;
}

.modal-header img {
margin: 0 auto;
margin-bottom: 1%;
display: block;
}

.modal-footer {
text-align: center;
margin: 0;
}

.signed-up {
 margin-top: 1%;
}

.continue {
padding: 0;

}
</style>

<div class="delete modal modal-dialog fade">
  <div class="modal-content">
    <form action="/delete" method="POST" id="delete-form">

    <div class="modal-header">
          <img src="../images/logo.png" height="100px" width="110px"/>
          <h3 class="modal-title">This will delete your profile on 3Scape.<br>
          This cannot be undone.</h3>
    </div>

      <div class="modal-body">

          <p>Please provide your password to confirm this action.</p>

          <!-- show any messages that come back with authentication -->
          <% if (typeof message != 'undefined' && message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <div class="form-group">
              <label>Password</label>
              <input class="form-control" id="password" type="password" name="password" >
          </div>

      </div>
      <div class ="modal-footer">
        <div class = "pull-left back">
          <input action="action"class="btn btn-primary" type="button" value="Back" onclick="history.go(-1);" />
        </div>
        <div class="pull-right continue">
          <button type="submit" class="btn btn-primary" onclick="document.onkeydown = handleKey;">Continue &raquo</button>
        </div>
      </div>

    </form>
  </div>
  <div id="errorDiv"></div>
</div>
<!--Signup Validation-->
<script>
  $("#delete-form").validate({
    rules: {
        password: {
            required: true,
            minlength: 8
        }
    },
    messages: {
        password: {
          required: "Please provide a password"
        }
    }
  });
</script>
