<style>
form {
margin: 0;
}

.modal-content {
font-family: 'robotolight';
background-image: url("images/signup-login-background.png");
}

.modal-title {
font-family: 'robotobold';
color: #57B955;
text-align: center;
}

.modal-header img {
margin: 0 auto;
margin-bottom: 1%;
display: block;
}

.modal-footer {
text-align: center;
margin: 0;
}

.continue {
padding: 0;
}
</style>

<div class="getstarted modal modal-dialog fade">
  <div class="modal-content">
    <div class="modal-header">
          <img src="../images/logo.png" height="100px" width="110px"/>
          <h3 class="modal-title">Try Adding a Part</h3>
    </div>

      <div class="modal-body">

          <p>
            <ol>
              <li>Click anywhere on the Grid
              <li>Hover over the Parts bar at the top
              <li>Click on a Part
            </ol>
          </p>


          <form action="" method="" id="getstarted-form">
            <p>Did this help?</p>
            <input type="radio" name="helped" value="yes" checked>Yes
            <br>
            <input type="radio" name="helped" value="no">No
          </form>



      </div>
      <div class="modal-footer">
        <div class="col-md-12 continue">
          <button type="submit" class="btn btn-primary" onclick="dismiss();">Continue &raquo</button>
        </div>
        <div class="col-md-12">

        </div>
      </div>
  </div>

</div>
<script>
function dismiss() {
  document.onkeydown = handleKey;
  $(".getstarted").modal("hide");
}
</script>
