<div class="registration modal modal-dialog fade">
  <div class="modal-content">
    <form action="/register" method="POST" id="registration-form">
      <div class="modal-header">
          <h4 class="modal-title">3Scape On!</h4>
      </div>
      <div class="modal-body">

          <!-- show any messages that come back with authentication -->
          <% if (typeof message != 'undefined' && message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <div class="form-group">
            <label>Email</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="Your valid email address" autofocus>
          </div>

          <div class="form-group">
              <label>Password</label>
              <input class="form-control" id="password" type="password" name="password" maxlength="20" placeholder="Must be 8-20 characters long">
          </div>


      </div>
      <div class="modal-footer">
        <div class="col-sm-4">
          <a href="/login">Already signed up?</a>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary" onclick="document.onkeydown = handleKey;">Continue &raquo</button>
        </div>

      </div>
    </form>
  </div>
  <div id="errorDiv"></div>
</div>
<!--Signup Validation-->
<script>
  $("#registration-form").validate({
    rules: {
        email: {
            required: true,
            email: true
        },
        password: {
            required: true,
            minlength: 8
        }
    },
    messages: {
        email: "Please enter a valid email address",
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 8 characters long",
        }
    }
  });
</script>
