<div class="registration modal modal-dialog fade">
  <div class="modal-content">
    <form action="/signup" method="POST" id="payment-form">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Please Register 3Scape</h4>
      </div>
      <div class="modal-body">

          <!-- show any messages that come back with authentication -->
          <% if (typeof message != 'undefined' && message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <div class="form-group">
            <label>Email</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="Your valid email address" autofocus>
          </div>

          <div class="form-group">
              <label>Password</label>
              <input class="form-control" id="password" type="password" name="password" maxlength="20" placeholder="Must be 8-20 characters long">
          </div>

          <div class="form-group">
              <label>Confirm Password</label>
              <input class="form-control" id="confirm_password" type="password" name="password_confirm" maxlength="20" placeholder="Must match your password">
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" onclick="document.onkeydown = handleKey;">Heck Yes!</button>
      </div>
    </form>
  </div>
</div>
