<div class="row actions-bar">
    <div class="col-xs-12 palette">

        <ul class="actions-list list-inline">
            <li class="action">
                    <div class="colorwheel"></div>
            </li>
            <li class="action">
                <div class="dial">
                    <div class="innerdial">
                        <div class="shadow-circle opacity"></div>
                    </div>
                </div>
            </li>

            <li class="action">
                <div class="dial">
                    <div id="jog_dial_one" class="innerdial">
                      <div class="shadow-circle spin">

                      </div>
                    </div>
                </div>
            </li>

            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle orbit">

                      </div>
                    </div>
                </div>
            </li>

            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle bounce">

                      </div>
                    </div>
                </div>
            </li>

          <li class="action">
              <div class="dial">
                  <div  class="innerdial">
                    <div class="shadow-circle collide">

                    </div>
                  </div>
              </div>
          </li>
            <li class="action">
              <div class="dial">
                  <div  class="innerdial">
                    <div class="shadow-circle roam">
                    </div>
                  </div>
              </div>
          </li>

            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle dive-surface">

                      </div>
                    </div>
                </div>
            </li>

            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle define-a-path">

                      </div>
                    </div>
                </div>
            </li>
            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle fade-in-out">

                      </div>
                    </div>
                </div>
            </li>
            <li class="action">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle grow-shrink">

                      </div>
                    </div>
                </div>
            </li>
        </ul>
        <button class="scroll scroll-left">❰</button>
        <button class="scroll scroll-right">❱</button>
    </div>
</div>
<script type="text/javascript">

  var g_foo = false;

  function addControls() {
    console.log("Adding controls...");

    // OPACITY
    var elem = document.getElementsByClassName('opacity')[0];
    var dial = JogDial(elem,
      {debug:false, wheelSize:'100%', knobSize:'40%', minDegree:0, maxDegree:360, degreeStartAt: 0});

    dial.on('mousemove', function(evt){
        var oValue = (evt.target.degree/360);
        var reverseO = 1 - oValue;
        if (g_selectedModel) g_selectedModel.opacity.setValueDirect(reverseO);
    });

    dial.on('mouseup', function(e) {
      g_foo = true;
    });

    var wheel = elem.getElementsByClassName('shadow-circle_wheel')[0];

    wheel.addEventListener('click', function(e) {
      if (!g_foo) {
        showHideSelected();
      }
      g_foo = false;
    });


    // ROAMER
    elem = document.getElementsByClassName('roam')[0];
    dial = JogDial(elem,
      {debug:false, wheelSize:'100%', knobSize:'40%', minDegree:0, maxDegree:360, degreeStartAt: 0});

    dial.on('mousemove', function(evt){
      var speed = Math.round(evt.target.degree/10);
      console.log("speeding..." + speed);
      setRoamSpeed(speed);
    });

    dial.on('mouseup', function(e) {
      g_foo = true;
    });

    wheel = elem.getElementsByClassName('shadow-circle_wheel')[0];
    wheel.addEventListener('click', function(e) {
      if (!g_foo) {
        addRemoveRoam();
      }
      g_foo = false;
    });

    // COLLIDER
    elem = document.getElementsByClassName('collide')[0];
    dial = JogDial(elem,
      {debug:false, wheelSize:'100%', knobSize:'40%', minDegree:0, maxDegree:360, degreeStartAt: 0});

    dial.on('mousemove', function(evt){
      var speed = Math.round(evt.target.degree/10);
      console.log("colliding..." + speed);
      setRoamSpeed(speed);
    });

    dial.on('mouseup', function(e) {
      g_foo = true;
    });

    wheel = elem.getElementsByClassName('shadow-circle_wheel')[0];
    wheel.addEventListener('click', function(e) {
      if (!g_foo) {
        addRemoveRoam(false);
      }
      g_foo = false;
    });

    // FADER
    elem = document.getElementsByClassName('fade-in-out')[0];
    dial = JogDial(elem,
      {debug:false, wheelSize:'100%', knobSize:'40%', minDegree:0, maxDegree:360, degreeStartAt: 0});

    dial.on('mousemove', function(evt){
      var duration = Math.round(evt.target.degree/10);
      console.log("fading..." + duration);
      setFaderDuration(duration);
    });

    dial.on('mouseup', function(e) {
      g_foo = true;
    });

    wheel = elem.getElementsByClassName('shadow-circle_wheel')[0];
    wheel.addEventListener('click', function(e) {
      if (!g_foo) {
        addRemoveFader();
      }
      g_foo = false;
    });

    // GROWER
    elem = document.getElementsByClassName('grow-shrink')[0];
    dial = JogDial(elem,
      {debug:false, wheelSize:'100%', knobSize:'40%', minDegree:0, maxDegree:360, degreeStartAt: 0});

    dial.on('mousemove', function(evt){
      var duration = Math.round(evt.target.degree/10);
      console.log("growing..." + duration);
      setGrowerDuration(duration);
    });

    dial.on('mouseup', function(e) {
      g_foo = true;
    });

    wheel = elem.getElementsByClassName('shadow-circle_wheel')[0];
    wheel.addEventListener('click', function(e) {
      if (!g_foo) {
        addRemoveGrower();
      }
      g_foo = false;
    });

  }
</script>
