<div class="row navbar-fixed-bottom">
    <div class="col-xs-12">
        <ul class="pans  list-inline">

            <li class="pan">
                <div class="dial">
                    <div id="jog_dial_one" class="innerdial">
                      <div class="shadow-circle spin">

                      </div>
                    </div>
                </div>
            </li>

            <li class="pan">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle  orbit">

                      </div>
                    </div>
                </div>
            </li>

            <li class="pan">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle bounce">

                      </div>
                    </div>
                </div>
            </li>

          <li class="pan">
              <div class="dial">
                  <div  class="innerdial">
                    <div class="shadow-circle collide">

                    </div>
                  </div>
              </div>
          </li>
            <li class="pan">
              <div class="dial">
                  <div  class="innerdial">
                    <div class="shadow-circle roam">
                    </div>
                  </div>
              </div>
          </li>

            <li class="pan">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle dive-surface">

                      </div>
                    </div>
                </div>
            </li>

            <li class="pan">
                <div class="dial">
                    <div  class="innerdial">
                      <div class="shadow-circle define-a-path">

                      </div>
                    </div>
                </div>
            </li>

            <li class="pan">
                <div class="dial">
                    <div class="innerdial">
                        <div class="shadow-circle opacity"></div>

                    </div>
                </div>
            </li>

            <li class="pan">
                    <div class="colorwheel"></div>
            </li>
        </ul>
    </div>
</div>
