<div id="model-menu" class="menu">
  <div class="rotater">
    <div class="btn btn-icon" name="model-scale-item" style="background: rgba(255, 255, 255, 0);">
      <input id="model-scale-slider" data-slider-id='scale-slider' type="text"/>
    </div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon" name="model-color-item">
      <i class="fa fa-paint-brush"></i>
      <input type="text" value="333" name="model-color" class="pick-a-color">
    </div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon shape" onclick="roam();">
      <i class="fa fa-bolt"></i>
    </div>
  </div>
  <div class="rotater">
    <div class="btn btn-icon" onclick="cut();">
      <i class="fa fa-cut"></i>
    </div>
  </div>
</div>
