<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>3Scape: Forgot Something</title>
    <!-- NO STYLES HERE. Styles are added by our transactional mail service-->

</head>

<body>
    <div id="body_style">
      <p>You are receiving this email because you (or someone else) requested to reset the password for your account.</p>
      <p>
        Please click on the following link, or paste this into your browser to complete the process:
      </p>
      <p>
        <a href="{{tokenUrl}}">{{tokenUrl}}</a>
      </p>
      <p>
        If you did not request this please ignore this email and your password will remain unchanged.
      </p>
    </div>

</body>

</html>
